/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.chat-window {
  position: absolute;
  bottom: 0;
  right: 3em;
  width: 300px;
  height: 420px;
  @include rTransition(all ease-out 250ms);
  background-color: #fff;
  z-index: 9;
  border-radius: 6px 6px 0 0;
  &.docked {
    @include rTransform(translateY(384px));
    background-color: transparent;
  }
  p {
    margin: 0;
  }
  .chat-header {
    height: 38px;
    border-radius: 6px 6px 0 0;
    background: $babyblue-color;
    position: relative;
    cursor: pointer;
    opacity: 1;
    text-align: left;
    p {
      display: block;
      padding: 0 1em 0 2em;
      color: #fff;
      font-weight: 700;
      line-height: 38px;
    }
    span {
      opacity: 1;
      position: absolute;
      display: block;
      top: calc(50% - (1em / 2));
      right: calc(1.5em - (1em / 2));
      width: 1em;
      height: 1em;
      -webkit-transition-delay: 250ms;
      -o-transition-delay: 250ms;
      transition-delay: 250ms;
      @include rTransition(all ease 350ms);
      color: #fff;
      font-size: 24px;
    }
  }
  .chat-body {
    height: calc(450px - (38px + 70px));
    border: 1px solid $babyblue-color;
    background: #fff;
    border-top: 0;
    border-bottom: 0;
    position: relative;
    .message-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
    }
    .message {
      position: relative;
      padding: 1em 0.7em 2em;
      margin-bottom: 0.5em;
      border-bottom: 1px dotted #cfd8dc;
      .profile {
        position: absolute;
        top: 1em;
        left: 0.7em;
        img {
          width: 40px;
          height: auto;
          border-radius: 100%;
        }
      }
      .message-meta {
        width: calc(100% - (40px + 1em));
        height: 25px;
        float: right;
        p {
          display: inline-block;
          font-size: 0.75em;
          font-weight: 700;
          color: #90a4ae;
          margin-top: 5px;
          &:last-child {
            font-size: 0.5em;
            vertical-align: bottom;
            margin-top: 7px;
            float: right;
          }
        }
      }
      .message-content {
        width: calc(100% - (40px + 1em));
        height: 40px;
        float: right;
        p {
          text-align: left;
          line-height: 1.2;
          font-size: 0.9em;
          color: $babyblue-color;
          + p {
            margin-top: 0.5em;
          }
        }
      }
      &:after {
        content: "";
        display: block;
        width: 100%;
        clear: both;
      }
      &.user {
        .profile {
          left: auto;
          right: 0.7em;
        }
        .message-meta,
        .message-content {
          float: left;
        }
        .message-meta {
          p {
            float: right;
            &:last-child {
              float: left;
            }
          }
        }
        .message-content {
          p {
            text-align: right;
          }
        }
      }
    }
  }
  .chat-footer {
    height: 70px;
    border: 1px solid $babyblue-color;
    border-top: 0;
    border-bottom: 0;
    margin-top: -30px;
    .progress-indicator {
      opacity: 1;
      background: rgba(255, 255, 255, 0.9);
      height: 30px;
      text-align: center;
      font-size: 0.7em;
      font-weight: 300;
      line-height: 30px;
      position: relative;
      z-index: 4;
      -webkit-transition: all ease 150ms;
      -o-transition: all ease 150ms;
      transition: all ease 150ms;
    }
    .form-area {
      height: 40px;
      position: relative;
      input {
        height: 40px;
        width: calc(100% - (0.7em + 2.5em + 2px));
        border: 0;
        padding: 0 0.7em;
        font-size: 1em;
        border-top: 1px dotted #607d8b;
        outline: none;
        font-family: "Open Sans", sans-serif;
        &:focus {
          & + button {
            &:after {
              border-left: 1.6em solid #66bb6a;
            }
          }
        }
      }
      button {
        border: 0;
        border-top: 1px dotted #607d8b;
        position: absolute;
        display: block;
        width: 2.5em;
        height: 40px;
        top: 0;
        right: 0;
        z-index: 2;
        background: transparent;
        outline: none;
        &:before {
          position: absolute;
          top: calc(50% - 0.4em);
          left: 0.4em;
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-top: 0.4em solid transparent;
          border-right: 0.4em solid transparent;
          border-bottom: 0.4em solid transparent;
          border-left: 0.4em solid #fff;
          z-index: 3;
        }
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-top: 0.8em solid transparent;
          border-right: 0.8em solid transparent;
          border-bottom: 0.8em solid transparent;
          border-left: 1.6em solid #b0bec5;
          z-index: 2;
        }
      }
    }
  }
}
.hide {
  opacity: 0 !important;
}
/************ responsive ***********/
@media (max-width: 767px) {
  .chat-window {
    right: 0;
    &.docked {
      width: 72px;
    }
    .chat-header p {
      display: none;
    }
  }
  .custom_tooltip .tooltip_txt::before {
    left: auto;
  }
}
