/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@font-face {
  font-family: "Almarai-Regular";
  src: url(../../fonts/Almarai-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Almarai-Bold";
  src: url(../../fonts/Almarai-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Almarai-ExtraBold";
  src: url(../../fonts/Almarai-ExtraBold.ttf);
  font-display: swap;
}
/***colors****/
/***********mixins************/
.video-btn img, #scroll-top img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.most_sec {
  padding: 40px 0;
}

.my_form h2, .header .head_txt h1 {
  font-family: "Almarai-ExtraBold";
}

.my_form h5, .header .head_txt h3, .my_title {
  font-family: "Almarai-Bold";
}

/************************ ///////// ********************/
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #55abd2;
  outline: 1px solid #fff;
  border-radius: 30px;
}

::-moz-selection {
  background: #163260;
  color: #fff;
}

::selection {
  background: #163260;
  color: #fff;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Almarai-Regular" !important;
  padding: 0 !important;
  margin: 0 !important;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  color: #163260;
  overflow-x: hidden !important;
  overflow-y: hidden;
  direction: rtl !important;
  background-color: #ffffff;
}

/*********** Reset ************/
a {
  color: #163260;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:focus {
  text-decoration: none;
  color: #efa830;
}

button {
  border: 0;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

a,
button,
#scroll-top,
.form-control,
.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-border {
  border: 0 !important;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11 {
  float: right !important;
}

/*********************/
.body-over {
  overflow-y: hidden !important;
}

.body-overlay {
  background-color: rgba(12, 12, 12, 0.75);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  opacity: 0;
  display: none;
}
.body-overlay.back {
  transform: translateX(0px) !important;
  -webkit-transform: translateX(0px) !important;
  -moz-transform: translateX(0px) !important;
  -ms-transform: translateX(0px) !important;
  -o-transform: translateX(0px) !important;
}

.back {
  opacity: 1;
  display: block;
}

/*********/
/********************************** Start LOADER *****************************/
.loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #163260;
  z-index: 999999999;
  direction: ltr;
}
.loader .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

.main-circle {
  width: 150px;
  height: 150px;
  border: 4px solid #2fa79f;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  position: relative;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: rotate 2s infinite;
  animation: rotate 2s infinite;
}
.main-circle::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  border: 4px solid transparent;
  border-right: 4px solid #2fa79f;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  border-radius: 50%;
}

.green-circle {
  -webkit-animation: rotate 2s infinite 0.4s;
  animation: rotate 2s infinite 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 4px solid #2fa79f;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  border-radius: 50%;
  position: relative;
}
.green-circle::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  border: 4px solid transparent;
  border-right: 4px solid #2fa79f;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.brown-circle {
  -webkit-animation: rotate 2s infinite 0.6s;
  animation: rotate 2s infinite 0.6s;
  width: 80px;
  height: 80px;
  border: 4px solid #2fa79f;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  border-radius: 50%;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/************** Opening Doors ********************/
.door {
  background-color: #163260;
  border: solid 2px #efa830;
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  overflow-x: hidden;
  cursor: pointer;
  z-index: 99999;
}

#ldoor {
  left: 0;
}

#rdoor {
  right: 0;
}

/************************************************* END LOADER *****************************************/
/*** Scroll to top *********/
#scroll-top {
  display: none;
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  z-index: 9;
  cursor: pointer;
  background: #163260;
  font-size: 24px;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 50%;
  opacity: 1;
  padding: 5px;
}
/***********/
.my_title {
  position: relative;
  color: #55abd2;
  padding-bottom: 24px;
  margin: 0 0 20px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.my_title::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 0;
  background: url("../../img/divider.webp") no-repeat center;
  background-size: contain;
  width: 100%;
  height: 14px;
}

@media (max-width: 767px) {
  .my_title {
    font-size: 26px;
    margin: 0 auto 20px auto;
  }
}
.container-xl.my-container {
  padding: 0;
}
.container-xl.my-container.the_first {
  padding-bottom: 40px;
}
.container-xl.my-container.rel_one {
  position: fixed;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 0;
  z-index: 9;
}

@media (min-width: 1200px) {
  .container-xl.my-container {
    max-width: 1400px;
  }
}
/********** Start Header section *****************/
.header {
  background: url("../../img/bg-top2.webp") no-repeat top right;
  background-size: 100% auto;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  display: block;
}
.header .wrapper_h {
  position: relative;
  z-index: 999;
  padding: 140px 0 40px 0;
  text-align: right;
}
.header .head_txt {
  color: #fff;
}
.header .head_txt h1 {
  margin: 0;
}
.header .head_txt h3 {
  margin: 24px 0;
}
.header .head_txt h5 {
  margin: 0;
  line-height: 1.6;
}
.header .head_txt .animate__fadeInUp:last-child {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.header::before {
  content: "";
  height: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: #55abd2;
  background: url("../../img/bg-tab.webp") no-repeat bottom left;
  background-size: auto 100%;
  background-attachment: fixed;
  z-index: 99;
  width: 55%;
}
.header::after {
  content: "";
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 0, 50% 0, 100% 100%, 29% 100%);
  clip-path: polygon(0 0, 50% 0, 100% 100%, 29% 100%);
  background-color: #fff;
  z-index: 9;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 21% 0, 100% 71%, 100% 100%, 25% 100%, 0% 50%);
  clip-path: polygon(0 0, 21% 0, 100% 71%, 100% 100%, 25% 100%, 0% 50%);
}

/********** Housing Request *****************/
.housing {
  text-align: center;
}
.housing img {
  max-width: 380px;
  -o-object-fit: contain;
  object-fit: contain;
}

.my_form {
  -webkit-box-shadow: 0px 0px 24px 0px #b8b8b8;
  -o-box-shadow: 0px 0px 24px 0px #b8b8b8;
  -ms-box-shadow: 0px 0px 24px 0px #b8b8b8;
  box-shadow: 0px 0px 24px 0px #b8b8b8;
  padding: 30px 20px;
  background-color: #fff;
}
.my_form h2 {
  color: #163260;
  margin: 0 auto 14px auto;
}
.my_form h5 {
  color: #efa830;
  margin: 0 auto 24px auto;
}
.my_form .effect_an {
  margin: 0 auto;
  width: 100%;
}
.my_form .effect_an::after {
  background-color: #55abd2;
  border-color: #55abd2;
}
.my_form .effect_an::before {
  background-color: #efa830;
  border-color: #efa830;
}
.my_form .effect_an:hover, .my_form .effect_an:focus {
  background-color: #efa830;
}
.my_form .row > div:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 74px;
}

.question {
  position: relative;
  width: 100%;
}
.question label {
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  color: #7a7e7f;
  font-weight: 100;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -46px;
  z-index: 2;
  pointer-events: none;
}
.question .input {
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: none;
  border: 2px solid #e1e1e1;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: #163260;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
.question .input:focus {
  outline: none;
  background: #55abd2;
  color: #fff;
  margin-top: 30px;
}
.question .input:focus ~ label {
  -webkit-transform: translate(0, -26px);
  transform: translate(0, -26px);
  font-size: 13px;
}
.question .input:valid {
  margin-top: 0;
}
.question .input:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -webkit-transform: translate(5px, 30px) scale(0.6);
  transform: translate(5px, 30px) scale(0.6);
  position: absolute;
  top: 0;
}

/******************* select2 **************************/
.select2-container--open .select2-dropdown {
  min-width: 100px;
  direction: rtl;
  text-align: right;
  border: 1px solid #e1e1e1;
  border-radius: 0 0 12px 12px;
  background-color: #e1e1e1;
}

.select2-results__option {
  display: block;
}
.select2-results__option--highlighted[aria-selected] {
  background-color: #55abd2 !important;
}

.select2-container {
  z-index: 9999;
  width: 100% !important;
}
.select2-container .select2-selection--single {
  height: 43px !important;
  border-radius: 60px !important;
}

.select2-container--default .select2-selection--single {
  border: 2px solid #e1e1e1;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #7a7e7f;
  padding: 0 15px 0 20px;
  text-align: right;
  line-height: 39px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: calc(50% - 13px) !important;
  left: 1px;
  right: auto;
}
.select2-container--default .select2-selection--single:focus {
  border-color: var(--blue-color);
}

/**********************/
.promise {
  color: #7a7e7f;
  text-align: right;
  margin: 20px 0 0 0;
  font-size: 14px;
}

/********** Start About section *****************/
.block1 p {
  color: #7a7e7f;
  margin-bottom: 0.4rem;
}
.block1 p:last-child {
  margin-bottom: 0;
}

.orng {
  color: #efa830;
  margin: 30px 0 20px 0;
}

.dotted_list {
  color: #7a7e7f;
  list-style: none;
}
.dotted_list li {
  line-height: 1.5;
  padding-right: 20px;
  position: relative;
  display: block;
  margin-bottom: 13px;
}
.dotted_list li:last-child {
  margin-bottom: 0;
}
.dotted_list li::before {
  content: "";
  background-color: #55abd2;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  right: 0;
  top: 6px;
}

/******* about video ************/
.pulse:hover {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(86, 175, 188, 0);
    box-shadow: 0 0 0 rgba(86, 175, 188, 0);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
    box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(86, 175, 188, 0);
    box-shadow: 0 0 0 rgba(86, 175, 188, 0);
  }
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(86, 175, 188, 0);
    box-shadow: 0 0 0 rgba(86, 175, 188, 0);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
    box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(86, 175, 188, 0);
    box-shadow: 0 0 0 rgba(86, 175, 188, 0);
  }
}
.left_column {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  margin: 8px auto 0 auto;
}
.left_column p {
  font-size: 21px;
  margin: 8px auto 0 auto;
}

.pulse {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: calc(50% - 30px);
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  background-color: #BEB9BA;
  border: 6px solid #BEB9BA;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
  -o-box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
  -ms-box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
  box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

.video-btn {
  background-color: transparent;
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}
.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-content {
  max-width: 90%;
  margin: 0 auto;
}

.modal-body {
  position: relative;
  padding: 0px;
}
.modal-body .close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
  text-shadow: none;
  background-color: #efa830 !important;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}

/********** End Header section *****************/
/*********** RESPONSIVE **********************/
@media (max-width: 991px) {
  .header {
    background-size: cover;
  }
}
@media (max-width: 767px) {
  /*********** Header ********************/
  .header {
    background-size: 100% 400px;
    background-attachment: unset;
  }
  .header::before {
    height: 400px;
  }
  .header::after {
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transform: none;
    transform: none;
    width: 100%;
    height: 400px;
    -webkit-clip-path: none;
    clip-path: none;
  }
  .header .wrapper_h {
    padding-top: 100px;
  }
  .header .head_txt {
    max-width: unset;
    color: #55abd2;
    margin-bottom: 20px;
  }
  .header .head_txt h1 {
    font-size: 30px;
  }
  .header .head_txt h3 {
    font-size: 22px;
    margin: 14px 0;
  }
  .header .head_txt h5 {
    font-size: 17px;
    color: #fff;
  }

  /***************** Housing********************/
  .housing img {
    max-width: 280px;
  }

  .my_form {
    padding: 16px 12px;
    margin: 0 auto 30px auto;
  }
  .my_form h2 {
    margin: 0 auto 10px auto;
    font-size: 22px;
  }
  .my_form h5 {
    margin: 0 auto 4px auto;
    font-size: 16px;
  }

  .left_column {
    margin: 20px auto 0 auto;
  }
  .left_column p {
    color: #163260;
  }

  .block1 p {
    line-height: 1.2;
    margin-bottom: 0;
    color: #163260;
  }

  .video-btn {
    color: #163260;
  }

  .modal-body .close {
    right: 30px;
    top: -30px;
    z-index: 999999;
    color: #282c2d;
  }

  .about {
    border-top: 1px solid #d7d7d7;
    margin-top: 30px;
    padding-top: 30px;
  }
}/*# sourceMappingURL=header-section.css.map */