@charset "UTF-8";
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@font-face {
  font-family: "Almarai-Regular";
  src: url(../../fonts/Almarai-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Almarai-Bold";
  src: url(../../fonts/Almarai-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Almarai-ExtraBold";
  src: url(../../fonts/Almarai-ExtraBold.ttf);
  font-display: swap;
}
/***colors****/
/***********mixins************/
#scroll-top img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.most_sec {
  padding: 40px 0;
}

.my_title {
  font-family: "Almarai-Bold";
}

/************************ ///////// ********************/
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #55abd2;
  outline: 1px solid #fff;
  border-radius: 30px;
}

::-moz-selection {
  background: #163260;
  color: #fff;
}

::selection {
  background: #163260;
  color: #fff;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Almarai-Regular" !important;
  padding: 0 !important;
  margin: 0 !important;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  color: #163260;
  overflow-x: hidden !important;
  overflow-y: hidden;
  direction: rtl !important;
  background-color: #ffffff;
}

/*********** Reset ************/
a {
  color: #163260;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:focus {
  text-decoration: none;
  color: #efa830;
}

button {
  border: 0;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

a,
button,
#scroll-top,
.form-control,
.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-border {
  border: 0 !important;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11 {
  float: right !important;
}

/*********************/
.body-over {
  overflow-y: hidden !important;
}

.body-overlay {
  background-color: rgba(12, 12, 12, 0.75);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  opacity: 0;
  display: none;
}
.body-overlay.back {
  transform: translateX(0px) !important;
  -webkit-transform: translateX(0px) !important;
  -moz-transform: translateX(0px) !important;
  -ms-transform: translateX(0px) !important;
  -o-transform: translateX(0px) !important;
}

.back {
  opacity: 1;
  display: block;
}

/*********/
/********************************** Start LOADER *****************************/
.loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #163260;
  z-index: 999999999;
  direction: ltr;
}
.loader .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

.main-circle {
  width: 150px;
  height: 150px;
  border: 4px solid #2fa79f;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  position: relative;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: rotate 2s infinite;
  animation: rotate 2s infinite;
}
.main-circle::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  border: 4px solid transparent;
  border-right: 4px solid #2fa79f;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  border-radius: 50%;
}

.green-circle {
  -webkit-animation: rotate 2s infinite 0.4s;
  animation: rotate 2s infinite 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 4px solid #2fa79f;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  border-radius: 50%;
  position: relative;
}
.green-circle::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  border: 4px solid transparent;
  border-right: 4px solid #2fa79f;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.brown-circle {
  -webkit-animation: rotate 2s infinite 0.6s;
  animation: rotate 2s infinite 0.6s;
  width: 80px;
  height: 80px;
  border: 4px solid #2fa79f;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  border-radius: 50%;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/************** Opening Doors ********************/
.door {
  background-color: #163260;
  border: solid 2px #efa830;
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  overflow-x: hidden;
  cursor: pointer;
  z-index: 99999;
}

#ldoor {
  left: 0;
}

#rdoor {
  right: 0;
}

/************************************************* END LOADER *****************************************/
/*** Scroll to top *********/
#scroll-top {
  display: none;
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  z-index: 9;
  cursor: pointer;
  background: #163260;
  font-size: 24px;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 50%;
  opacity: 1;
  padding: 5px;
}
/***********/
.my_title {
  position: relative;
  color: #55abd2;
  padding-bottom: 24px;
  margin: 0 0 20px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.my_title::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 0;
  background: url("../../img/divider.webp") no-repeat center;
  background-size: contain;
  width: 100%;
  height: 14px;
}

@media (max-width: 767px) {
  .my_title {
    font-size: 26px;
    margin: 0 auto 20px auto;
  }
}
.container-xl.my-container {
  padding: 0;
}
.container-xl.my-container.the_first {
  padding-bottom: 40px;
}
.container-xl.my-container.rel_one {
  position: fixed;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 0;
  z-index: 9;
}

@media (min-width: 1200px) {
  .container-xl.my-container {
    max-width: 1400px;
  }
}
/********************* Start Navbar **************************/
/* Nav Icon */
#nav-icon1 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  line-height: 30px;
  z-index: 999;
  right: 0;
  display: none;
}
#nav-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 23px;
  right: 0;
  left: 0;
  margin: 0 auto;
  background: #f2f4f7;
  border-radius: 30px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
  top: 14px;
}
#nav-icon1 span:nth-child(2) {
  bottom: 20px;
}
#nav-icon1 span:nth-child(3) {
  top: 21px;
}
#nav-icon1.open span {
  background: #efa830;
}
#nav-icon1.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 15px;
}
#nav-icon1.open span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 15px;
}
#nav-icon1.open span:nth-child(3) {
  opacity: 0;
}

/*/////////////////*/
.navbar {
  width: 100%;
  border-radius: 0;
  line-height: 90px;
  height: 90px;
  min-height: auto;
  background-color: transparent;
  border: 0;
  position: fixed;
  z-index: 99;
  padding: 0;
  top: 8px;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-box-shadow: 0px 1px 2px 0px transparent;
  -o-box-shadow: 0px 1px 2px 0px transparent;
  -ms-box-shadow: 0px 1px 2px 0px transparent;
  box-shadow: 0px 1px 2px 0px transparent;
  /******* right ******/
  /****** navbar left *******/
}
.navbar .container .row {
  width: calc(100% + 30px);
}
.navbar .logo-nav {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #fff;
  padding-left: 16px;
}
.navbar .logo-nav img {
  width: 100%;
  max-width: 100px;
  -o-object-fit: contain;
  object-fit: contain;
  max-height: 90px;
}
.navbar .nav-left {
  text-align: left;
}

/* nav ul */
.navy ul.nav {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  max-width: 900px;
}
.navy ul.nav > li > a {
  font-size: 16px;
  text-transform: capitalize;
  display: block;
  padding: 6px;
  color: #ffffff;
  background-color: transparent;
  position: relative;
  line-height: 1;
}
.navy ul.nav > li > a::before {
  content: "";
  border-bottom: 4px solid #efa830;
  border-radius: 30px;
  position: absolute;
  bottom: -14px;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 0%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.navy ul.nav > li > a.active,
.navy ul.nav > li > a a:hover,
.navy ul.nav > li > a a:focus {
  background-color: transparent;
}
.navy ul.nav > li > a.active::before,
.navy ul.nav > li > a a:hover::before,
.navy ul.nav > li > a a:focus::before {
  opacity: 1;
  width: 75%;
}
.navy ul.nav.open a,
.navy ul.nav.open a:hover,
.navy ul.nav.open a:focus {
  background-color: transparent;
  border-color: transparent;
}

/************** Left Navbar *******************/
.nav_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  max-width: 600px;
}
.nav_left .social li a {
  background-color: #55abd2;
  color: #fff;
}
.nav_left .social li a:hover, .nav_left .social li a:focus {
  background-color: transparent;
}
.nav_left .effect_an.call_now {
  margin-top: 16px;
  color: #55abd2;
}
.nav_left .effect_an.call_now div {
  direction: ltr;
}
.nav_left .effect_an.call_now p {
  margin: 0;
}
.nav_left .effect_an.call_now span {
  margin-right: 10px;
  color: #60c837;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav_left .effect_an.call_now:hover span, .nav_left .effect_an.call_now:focus span {
  color: #ffffff;
}

/************** Fixed Navbar *******************/
.navbar.fixd_navbar {
  background-color: #163260;
  -webkit-box-shadow: 0px 1px 2px 0px #e6e6e6;
  -o-box-shadow: 0px 1px 2px 0px #e6e6e6;
  -ms-box-shadow: 0px 1px 2px 0px #e6e6e6;
  box-shadow: 0px 1px 2px 0px #e6e6e6;
  top: 0;
}
.navbar.fixd_navbar .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}
.navbar.fixd_navbar .logo-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar.fixd_navbar .navy ul.nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  height: 90px;
  line-height: 90px;
}
.navbar.fixd_navbar .nav_left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.navbar.fixd_navbar .effect_an.call_now {
  margin-top: 0;
  margin-right: 20px;
  border-radius: 8px;
  min-width: unset;
  padding: 2px 12px;
}
.navbar.fixd_navbar .effect_an.call_now p {
  display: none;
}
.navbar.fixd_navbar .effect_an.call_now span {
  margin: 0;
  color: #fff;
}
.navbar.fixd_navbar .effect_an.call_now::after {
  background-color: #60c837;
  border-color: #60c837;
  border-radius: 8px;
}

/********************* End Navbar **************************/
/******************* Start Footer **************************/
footer {
  position: relative;
  text-transform: capitalize;
  color: #fff;
  padding: 20px 0;
  margin-top: 160px;
  font-size: 16px;
  text-align: center;
  background: url("../../img/bg-foot2.webp") no-repeat bottom center;
  background-size: 100% 100%;
}
footer::before {
  content: "";
  background: url("../../img/bg-foot1.webp") no-repeat bottom center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  width: 100%;
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 160px;
}
footer .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
footer .social li a {
  background-color: #fff;
  color: #163260;
  font-size: 21px;
  width: 36px;
  height: 36px;
}
footer .social li a:hover, footer .social li a:focus {
  background-color: transparent;
}

.copyright {
  text-transform: capitalize;
  text-align: center;
}

.made_by a {
  color: #ffffff;
}
.made_by a:hover, .made_by a:focus {
  color: #efa830;
}
.made_by img {
  margin-right: 10px;
  max-width: 35px;
  -o-object-fit: contain;
  object-fit: contain;
}

/******************* End Footer **************************/
/************** ANIMATION ****************/
.wow {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

/******************* RESPONSIVE **************************/
@media (min-width: 768px) and (max-width: 1199px) {
  .navy ul.nav > li > a {
    font-size: 14px;
    padding: 6px 2px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .navy ul.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .navy ul.nav > li > a {
    font-size: 11px;
  }

  .navbar.fixd_navbar .effect_an.call_now {
    margin-top: 0;
  }
}
@media (max-width: 991px) {
  /************************** start navbar ****************/
  .navbar {
    padding: 0;
  }
  .navbar .row > div {
    padding: 0 3px;
  }

  .nav_left .social li a {
    width: 22px;
    height: 22px;
    font-size: 13px;
  }
  .nav_left .social li:not(:last-child) {
    margin-left: 4px;
  }

  /************************** End navbar ****************/
}
@media (max-width: 767px) {
  /******* Start Navbar ***********/
  #nav-icon1 {
    display: table !important;
  }

  .nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    left: 0;
  }

  .effect_an.call_now {
    min-width: 100px;
  }

  .effect_an.call_now div {
    padding: 6px;
  }

  .navbar {
    height: 60px;
    line-height: 60px;
    display: block;
  }
  .navbar .logo-nav {
    height: 60px;
    padding: 0 10px 0 7px;
  }
  .navbar .container {
    padding: 0 6px;
  }
  .navbar .container .row {
    width: 100%;
    margin: 0 auto;
  }
  .navbar .container .row > div {
    padding: 0 !important;
  }
  .navbar .logo-nav {
    height: 60px;
    padding: 10px;
  }
  .navbar.fixd_navbar .nav_left {
    height: 60px;
  }
  .navbar.fixd_navbar .effect_an.call_now {
    padding: 0;
  }
  .navbar.fixd_navbar .effect_an.call_now div {
    height: unset;
    line-height: unset;
    padding: 8px 7px;
  }

  /***************/
  .nav-r {
    margin-right: -260px;
    position: fixed;
    bottom: 0px;
    right: 0;
    top: 0;
    left: 0;
    z-index: 999999999;
    height: 100%;
    width: 260px;
    display: block;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
  }

  .fixed-r {
    opacity: 1;
    margin: 0;
    visibility: visible;
  }

  .navy {
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    margin: 0;
    padding: 0 !important;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    position: fixed;
    z-index: 1000020;
    height: 100%;
    width: 100%;
    max-height: 100% !important;
    display: block;
    min-width: 0;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    border-top: none;
    right: -100%;
    float: right;
  }
  .navy::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #eaefe8;
    border-bottom: 1px solid rgba(197, 197, 197, 0.5);
    bottom: 36px;
  }
  .navy.back-nav {
    right: 0;
  }

  .body-mob .nav-right {
    position: fixed;
    z-index: 100000000000000020000;
    width: 100vw;
    padding: 0 40px;
    top: 0;
    background-color: #163260;
    height: 100px !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .body-mob .nav-right .logo-nav {
    width: 120px;
    height: auto;
    border-left: 0;
    border-right: 1px solid #fff;
  }
  .body-mob .fixd_navbar .navy ul.nav > li > a {
    color: #7a7e7f;
  }
  .body-mob #nav-icon1.open span {
    background: #fff;
  }

  .navy ul.nav,
.navbar.fixd_navbar .navy ul.nav {
    position: absolute;
    right: 50%;
    top: 50%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    opacity: 1;
    width: 100%;
    display: block;
    z-index: 99;
    background-color: transparent;
    padding: 0 30px;
    height: unset;
    line-height: unset;
  }
  .navy ul.nav li,
.navbar.fixd_navbar .navy ul.nav li {
    display: block;
    border-radius: 0;
  }
  .navy ul.nav li:last-child,
.navbar.fixd_navbar .navy ul.nav li:last-child {
    border: 0 !important;
  }
  .navy ul.nav li:after,
.navbar.fixd_navbar .navy ul.nav li:after {
    right: 0;
    left: auto;
    margin: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    opacity: 0;
    border-bottom: 0;
    border-radius: 0;
    background-color: #efa830;
    opacity: 1;
  }
  .navy ul.nav li a,
.navy ul.nav li a.active,
.navbar.fixd_navbar .navy ul.nav li a,
.navbar.fixd_navbar .navy ul.nav li a.active {
    color: #163260;
    font-size: 18px;
    line-height: 3;
    text-align: right;
    position: relative;
    padding: 0 12px;
    border-radius: 46px;
  }
  .navy ul.nav li a::before,
.navy ul.nav li a.active::before,
.navbar.fixd_navbar .navy ul.nav li a::before,
.navbar.fixd_navbar .navy ul.nav li a.active::before {
    display: none;
  }
  .navy ul.nav li a::after,
.navy ul.nav li a.active::after,
.navbar.fixd_navbar .navy ul.nav li a::after,
.navbar.fixd_navbar .navy ul.nav li a.active::after {
    content: "";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 0;
    left: 12px;
    display: inline-block;
    font-weight: 900;
  }
  .navy ul.nav li a:hover, .navy ul.nav li a:focus,
.navy ul.nav li a.active:hover,
.navy ul.nav li a.active:focus,
.navbar.fixd_navbar .navy ul.nav li a:hover,
.navbar.fixd_navbar .navy ul.nav li a:focus,
.navbar.fixd_navbar .navy ul.nav li a.active:hover,
.navbar.fixd_navbar .navy ul.nav li a.active:focus {
    color: #fff !important;
    background-color: #efa830;
  }
  .navy ul.nav li a.active,
.navy ul.nav li a.active.active,
.navbar.fixd_navbar .navy ul.nav li a.active,
.navbar.fixd_navbar .navy ul.nav li a.active.active {
    background-color: #efa830;
    border: 0;
    color: #fff !important;
  }
  .navy ul.nav li:hover::after, .navy ul.nav li.active::after,
.navbar.fixd_navbar .navy ul.nav li:hover::after,
.navbar.fixd_navbar .navy ul.nav li.active::after {
    width: 100%;
  }

  /********* End Navbar *********
    /******** Start Footer ********************/
  footer {
    font-size: 14px;
    margin-top: 90px;
  }
  footer::before {
    height: 90px;
    background-size: cover;
  }

  /*********** End Footer ********************/
}
@media (max-width: 360px) {
  .navbar.fixd_navbar .effect_an.call_now {
    margin-right: 10px;
  }
}
@media (max-width: 567px) {
  .footer .row {
    display: block;
  }
  .footer .row .social {
    margin: 20px auto;
  }

  .navbar.fixd_navbar .effect_an.call_now {
    margin-right: 2px;
  }
  .navbar.fixd_navbar .nav_left {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 5px;
  }
}/*# sourceMappingURL=layout.css.map */