@charset "UTF-8";
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@font-face {
  font-family: "Almarai-Regular";
  src: url(../../fonts/Almarai-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Almarai-Bold";
  src: url(../../fonts/Almarai-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Almarai-ExtraBold";
  src: url(../../fonts/Almarai-ExtraBold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "fa-solid-900";
  font-style: normal;
  src: url(../../webfonts/fa-solid-900.woff2) format("woff2");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "fa-brands-400";
  font-style: normal;
  src: url(../../webfonts/fa-brands-400.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}
/***colors****/
/***********mixins************/
.video-btn img, #scroll-top img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.most_sec {
  padding: 40px 0;
}

.srv_name {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my_form h2, .header .head_txt h1, .social li a {
  font-family: "Almarai-ExtraBold";
}

.nav-tabs .nav-link, .my_form h5, .header .head_txt h3, .my_title {
  font-family: "Almarai-Bold";
}

/************************ ///////// ********************/
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #55abd2;
  outline: 1px solid #fff;
  border-radius: 30px;
}

::-moz-selection {
  background: #163260;
  color: #fff;
}

::selection {
  background: #163260;
  color: #fff;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Almarai-Regular" !important;
  padding: 0 !important;
  margin: 0 !important;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  color: #163260;
  overflow-x: hidden !important;
  overflow-y: hidden;
  direction: rtl !important;
  background-color: #ffffff;
}

/*********** Reset ************/
a {
  color: #163260;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:focus {
  text-decoration: none;
  color: #efa830;
}

button {
  border: 0;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

a,
button,
#scroll-top,
.form-control,
.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-border {
  border: 0 !important;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11 {
  float: right !important;
}

/*********************/
.body-over {
  overflow-y: hidden !important;
}

.body-overlay {
  background-color: rgba(12, 12, 12, 0.75);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  opacity: 0;
  display: none;
}
.body-overlay.back {
  transform: translateX(0px) !important;
  -webkit-transform: translateX(0px) !important;
  -moz-transform: translateX(0px) !important;
  -ms-transform: translateX(0px) !important;
  -o-transform: translateX(0px) !important;
}

.back {
  opacity: 1;
  display: block;
}

/*********/
/********************************** Start LOADER *****************************/
.loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #163260;
  z-index: 999999999;
  direction: ltr;
}
.loader .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

.main-circle {
  width: 150px;
  height: 150px;
  border: 4px solid #2fa79f;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  position: relative;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: rotate 2s infinite;
  animation: rotate 2s infinite;
}
.main-circle::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  border: 4px solid transparent;
  border-right: 4px solid #2fa79f;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  border-radius: 50%;
}

.green-circle {
  -webkit-animation: rotate 2s infinite 0.4s;
  animation: rotate 2s infinite 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 4px solid #2fa79f;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  border-radius: 50%;
  position: relative;
}
.green-circle::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  border: 4px solid transparent;
  border-right: 4px solid #2fa79f;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.brown-circle {
  -webkit-animation: rotate 2s infinite 0.6s;
  animation: rotate 2s infinite 0.6s;
  width: 80px;
  height: 80px;
  border: 4px solid #2fa79f;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  border-radius: 50%;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/************** Opening Doors ********************/
.door {
  background-color: #163260;
  border: solid 2px #efa830;
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  overflow-x: hidden;
  cursor: pointer;
  z-index: 99999;
}

#ldoor {
  left: 0;
}

#rdoor {
  right: 0;
}

/************************************************* END LOADER *****************************************/
/*** Scroll to top *********/
#scroll-top {
  display: none;
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  z-index: 9;
  cursor: pointer;
  background: #163260;
  font-size: 24px;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 50%;
  opacity: 1;
  padding: 5px;
}
/***********/
.my_title {
  position: relative;
  color: #55abd2;
  padding-bottom: 24px;
  margin: 0 0 20px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.my_title::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 0;
  background: url("../../img/divider.webp") no-repeat center;
  background-size: contain;
  width: 100%;
  height: 14px;
}

@media (max-width: 767px) {
  .my_title {
    font-size: 26px;
    margin: 0 auto 20px auto;
  }
}
.container-xl.my-container {
  padding: 0;
}
.container-xl.my-container.the_first {
  padding-bottom: 40px;
}
.container-xl.my-container.rel_one {
  position: fixed;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 0;
  z-index: 9;
}

@media (min-width: 1200px) {
  .container-xl.my-container {
    max-width: 1400px;
  }
}
/************** Reset ************/
/*/////////////////////////////////////////////////////////////////////////*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/********************** start my button **************/
.effect_an {
  min-width: 150px;
  max-width: 250px;
  display: block;
  padding: 0;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 40px;
  font-family: "Almarai-Bold";
  text-align: center;
  color: #fff;
  border: 0;
}
.effect_an div {
  position: relative;
  z-index: 3;
  height: 40px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.effect_an::before, .effect_an::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.effect_an::before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  background-color: #55abd2;
  border: 2px solid #55abd2;
}
.effect_an::after {
  -webkit-transform: scaleX(1.1);
  transform: scaleX(1.1);
  background-color: #FBFBFB;
  border: 2px solid #FBFBFB;
}
.effect_an:hover, .effect_an:focus {
  color: #ffffff !important;
  background-color: #55abd2;
}
.effect_an:hover::before, .effect_an:focus::before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
.effect_an:hover::after, .effect_an:focus::after {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

/********************** end my button **************/
/************************/
.social li {
  display: inline-block !important;
  line-height: 1 !important;
  margin-left: 6px;
}
.social li:last-child {
  margin: 0;
}
.social li a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  background-color: transparent;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.social li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(0);
  transform: scale(0);
  z-index: -1;
}
.social li a:hover, .social li a:focus {
  color: #fff !important;
}
.social li a:hover::before, .social li a:focus::before {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.social li a.icon-f:before {
  background-color: #3b5999;
}
.social li a.icon-tw:before {
  background-color: #55acee;
}
.social li a.icon-ig:before {
  background-color: #bd0095;
}
.social li a.icon-g:before {
  background-color: #dd4b39;
}
.social li a.icon-in:before {
  background-color: #187bb4;
}
.social li a.icon-y:before {
  background-color: #c12816;
}
.social li a.icon-snap:before {
  background-color: #fffc00;
}
.social li a.icon-whats:before {
  background-color: #499c15;
}

/************** Reset ************/
/*/////////////////////////////////////////////////////////////////////////*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/********************* Start Navbar **************************/
/* Nav Icon */
#nav-icon1 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  line-height: 30px;
  z-index: 999;
  right: 0;
  display: none;
}
#nav-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 23px;
  right: 0;
  left: 0;
  margin: 0 auto;
  background: #f2f4f7;
  border-radius: 30px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
  top: 14px;
}
#nav-icon1 span:nth-child(2) {
  bottom: 20px;
}
#nav-icon1 span:nth-child(3) {
  top: 21px;
}
#nav-icon1.open span {
  background: #efa830;
}
#nav-icon1.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 15px;
}
#nav-icon1.open span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 15px;
}
#nav-icon1.open span:nth-child(3) {
  opacity: 0;
}

/*/////////////////*/
.navbar {
  width: 100%;
  border-radius: 0;
  line-height: 90px;
  height: 90px;
  min-height: auto;
  background-color: transparent;
  border: 0;
  position: fixed;
  z-index: 99;
  padding: 0;
  top: 8px;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-box-shadow: 0px 1px 2px 0px transparent;
  -o-box-shadow: 0px 1px 2px 0px transparent;
  -ms-box-shadow: 0px 1px 2px 0px transparent;
  box-shadow: 0px 1px 2px 0px transparent;
  /******* right ******/
  /****** navbar left *******/
}
.navbar .container .row {
  width: calc(100% + 30px);
}
.navbar .logo-nav {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #fff;
  padding-left: 16px;
}
.navbar .logo-nav img {
  width: 100%;
  max-width: 100px;
  -o-object-fit: contain;
  object-fit: contain;
  max-height: 90px;
}
.navbar .nav-left {
  text-align: left;
}

/* nav ul */
.navy ul.nav {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  max-width: 900px;
}
.navy ul.nav > li > a {
  font-size: 16px;
  text-transform: capitalize;
  display: block;
  padding: 6px;
  color: #ffffff;
  background-color: transparent;
  position: relative;
  line-height: 1;
}
.navy ul.nav > li > a::before {
  content: "";
  border-bottom: 4px solid #efa830;
  border-radius: 30px;
  position: absolute;
  bottom: -14px;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 0%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.navy ul.nav > li > a.active,
.navy ul.nav > li > a a:hover,
.navy ul.nav > li > a a:focus {
  background-color: transparent;
}
.navy ul.nav > li > a.active::before,
.navy ul.nav > li > a a:hover::before,
.navy ul.nav > li > a a:focus::before {
  opacity: 1;
  width: 75%;
}
.navy ul.nav.open a,
.navy ul.nav.open a:hover,
.navy ul.nav.open a:focus {
  background-color: transparent;
  border-color: transparent;
}

/************** Left Navbar *******************/
.nav_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  max-width: 600px;
}
.nav_left .social li a {
  background-color: #55abd2;
  color: #fff;
}
.nav_left .social li a:hover, .nav_left .social li a:focus {
  background-color: transparent;
}
.nav_left .effect_an.call_now {
  margin-top: 16px;
  color: #55abd2;
}
.nav_left .effect_an.call_now div {
  direction: ltr;
}
.nav_left .effect_an.call_now p {
  margin: 0;
}
.nav_left .effect_an.call_now span {
  margin-right: 10px;
  color: #60c837;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav_left .effect_an.call_now:hover span, .nav_left .effect_an.call_now:focus span {
  color: #ffffff;
}

/************** Fixed Navbar *******************/
.navbar.fixd_navbar {
  background-color: #163260;
  -webkit-box-shadow: 0px 1px 2px 0px #e6e6e6;
  -o-box-shadow: 0px 1px 2px 0px #e6e6e6;
  -ms-box-shadow: 0px 1px 2px 0px #e6e6e6;
  box-shadow: 0px 1px 2px 0px #e6e6e6;
  top: 0;
}
.navbar.fixd_navbar .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}
.navbar.fixd_navbar .logo-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar.fixd_navbar .navy ul.nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  height: 90px;
  line-height: 90px;
}
.navbar.fixd_navbar .nav_left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.navbar.fixd_navbar .effect_an.call_now {
  margin-top: 0;
  margin-right: 20px;
  border-radius: 8px;
  min-width: unset;
  padding: 2px 12px;
}
.navbar.fixd_navbar .effect_an.call_now p {
  display: none;
}
.navbar.fixd_navbar .effect_an.call_now span {
  margin: 0;
  color: #fff;
}
.navbar.fixd_navbar .effect_an.call_now::after {
  background-color: #60c837;
  border-color: #60c837;
  border-radius: 8px;
}

/********************* End Navbar **************************/
/******************* Start Footer **************************/
footer {
  position: relative;
  text-transform: capitalize;
  color: #fff;
  padding: 20px 0;
  margin-top: 160px;
  font-size: 16px;
  text-align: center;
  background: url("../../img/bg-foot2.webp") no-repeat bottom center;
  background-size: 100% 100%;
}
footer::before {
  content: "";
  background: url("../../img/bg-foot1.webp") no-repeat bottom center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  width: 100%;
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 160px;
}
footer .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
footer .social li a {
  background-color: #fff;
  color: #163260;
  font-size: 21px;
  width: 36px;
  height: 36px;
}
footer .social li a:hover, footer .social li a:focus {
  background-color: transparent;
}

.copyright {
  text-transform: capitalize;
  text-align: center;
}

.made_by a {
  color: #ffffff;
}
.made_by a:hover, .made_by a:focus {
  color: #efa830;
}
.made_by img {
  margin-right: 10px;
  max-width: 35px;
  -o-object-fit: contain;
  object-fit: contain;
}

/******************* End Footer **************************/
/************** ANIMATION ****************/
.wow {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

/******************* RESPONSIVE **************************/
@media (min-width: 768px) and (max-width: 1199px) {
  .navy ul.nav > li > a {
    font-size: 14px;
    padding: 6px 2px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .navy ul.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .navy ul.nav > li > a {
    font-size: 11px;
  }

  .navbar.fixd_navbar .effect_an.call_now {
    margin-top: 0;
  }
}
@media (max-width: 991px) {
  /************************** start navbar ****************/
  .navbar {
    padding: 0;
  }
  .navbar .row > div {
    padding: 0 3px;
  }

  .nav_left .social li a {
    width: 22px;
    height: 22px;
    font-size: 13px;
  }
  .nav_left .social li:not(:last-child) {
    margin-left: 4px;
  }

  /************************** End navbar ****************/
}
@media (max-width: 767px) {
  /******* Start Navbar ***********/
  #nav-icon1 {
    display: table !important;
  }

  .nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    left: 0;
  }

  .effect_an.call_now {
    min-width: 100px;
  }

  .effect_an.call_now div {
    padding: 6px;
  }

  .navbar {
    height: 60px;
    line-height: 60px;
    display: block;
  }
  .navbar .logo-nav {
    height: 60px;
    padding: 0 10px 0 7px;
  }
  .navbar .container {
    padding: 0 6px;
  }
  .navbar .container .row {
    width: 100%;
    margin: 0 auto;
  }
  .navbar .container .row > div {
    padding: 0 !important;
  }
  .navbar .logo-nav {
    height: 60px;
    padding: 10px;
  }
  .navbar.fixd_navbar .nav_left {
    height: 60px;
  }
  .navbar.fixd_navbar .effect_an.call_now {
    padding: 0;
  }
  .navbar.fixd_navbar .effect_an.call_now div {
    height: unset;
    line-height: unset;
    padding: 8px 7px;
  }

  /***************/
  .nav-r {
    margin-right: -260px;
    position: fixed;
    bottom: 0px;
    right: 0;
    top: 0;
    left: 0;
    z-index: 999999999;
    height: 100%;
    width: 260px;
    display: block;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
  }

  .fixed-r {
    opacity: 1;
    margin: 0;
    visibility: visible;
  }

  .navy {
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    margin: 0;
    padding: 0 !important;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    position: fixed;
    z-index: 1000020;
    height: 100%;
    width: 100%;
    max-height: 100% !important;
    display: block;
    min-width: 0;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    border-top: none;
    right: -100%;
    float: right;
  }
  .navy::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #eaefe8;
    border-bottom: 1px solid rgba(197, 197, 197, 0.5);
    bottom: 36px;
  }
  .navy.back-nav {
    right: 0;
  }

  .body-mob .nav-right {
    position: fixed;
    z-index: 100000000000000020000;
    width: 100vw;
    padding: 0 40px;
    top: 0;
    background-color: #163260;
    height: 100px !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .body-mob .nav-right .logo-nav {
    width: 120px;
    height: auto;
    border-left: 0;
    border-right: 1px solid #fff;
  }
  .body-mob .fixd_navbar .navy ul.nav > li > a {
    color: #7a7e7f;
  }
  .body-mob #nav-icon1.open span {
    background: #fff;
  }

  .navy ul.nav,
.navbar.fixd_navbar .navy ul.nav {
    position: absolute;
    right: 50%;
    top: 50%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    opacity: 1;
    width: 100%;
    display: block;
    z-index: 99;
    background-color: transparent;
    padding: 0 30px;
    height: unset;
    line-height: unset;
  }
  .navy ul.nav li,
.navbar.fixd_navbar .navy ul.nav li {
    display: block;
    border-radius: 0;
  }
  .navy ul.nav li:last-child,
.navbar.fixd_navbar .navy ul.nav li:last-child {
    border: 0 !important;
  }
  .navy ul.nav li:after,
.navbar.fixd_navbar .navy ul.nav li:after {
    right: 0;
    left: auto;
    margin: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    opacity: 0;
    border-bottom: 0;
    border-radius: 0;
    background-color: #efa830;
    opacity: 1;
  }
  .navy ul.nav li a,
.navy ul.nav li a.active,
.navbar.fixd_navbar .navy ul.nav li a,
.navbar.fixd_navbar .navy ul.nav li a.active {
    color: #163260;
    font-size: 18px;
    line-height: 3;
    text-align: right;
    position: relative;
    padding: 0 12px;
    border-radius: 46px;
  }
  .navy ul.nav li a::before,
.navy ul.nav li a.active::before,
.navbar.fixd_navbar .navy ul.nav li a::before,
.navbar.fixd_navbar .navy ul.nav li a.active::before {
    display: none;
  }
  .navy ul.nav li a::after,
.navy ul.nav li a.active::after,
.navbar.fixd_navbar .navy ul.nav li a::after,
.navbar.fixd_navbar .navy ul.nav li a.active::after {
    content: "";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 0;
    left: 12px;
    display: inline-block;
    font-weight: 900;
  }
  .navy ul.nav li a:hover, .navy ul.nav li a:focus,
.navy ul.nav li a.active:hover,
.navy ul.nav li a.active:focus,
.navbar.fixd_navbar .navy ul.nav li a:hover,
.navbar.fixd_navbar .navy ul.nav li a:focus,
.navbar.fixd_navbar .navy ul.nav li a.active:hover,
.navbar.fixd_navbar .navy ul.nav li a.active:focus {
    color: #fff !important;
    background-color: #efa830;
  }
  .navy ul.nav li a.active,
.navy ul.nav li a.active.active,
.navbar.fixd_navbar .navy ul.nav li a.active,
.navbar.fixd_navbar .navy ul.nav li a.active.active {
    background-color: #efa830;
    border: 0;
    color: #fff !important;
  }
  .navy ul.nav li:hover::after, .navy ul.nav li.active::after,
.navbar.fixd_navbar .navy ul.nav li:hover::after,
.navbar.fixd_navbar .navy ul.nav li.active::after {
    width: 100%;
  }

  /********* End Navbar *********
    /******** Start Footer ********************/
  footer {
    font-size: 14px;
    margin-top: 90px;
  }
  footer::before {
    height: 90px;
    background-size: cover;
  }

  /*********** End Footer ********************/
}
@media (max-width: 360px) {
  .navbar.fixd_navbar .effect_an.call_now {
    margin-right: 10px;
  }
}
@media (max-width: 567px) {
  .footer .row {
    display: block;
  }
  .footer .row .social {
    margin: 20px auto;
  }

  .navbar.fixd_navbar .effect_an.call_now {
    margin-right: 2px;
  }
  .navbar.fixd_navbar .nav_left {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 5px;
  }
}
/************** Navbar - Footer ************/
/*/////////////////////////////////////////////////////////////////////////*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.custom_tooltip {
  position: relative;
}
.custom_tooltip .tooltip_txt {
  right: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  bottom: calc(100% + 22px);
  background-color: #def8b1;
  border: 2px solid #659e2b;
  border-radius: 8px;
  color: #659e2b;
  padding: 10px;
  text-transform: capitalize;
  min-width: 200px;
  display: none;
}
.custom_tooltip .tooltip_txt.hidee {
  display: none !important;
}
.custom_tooltip .tooltip_txt .remov {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #659e2b;
}
.custom_tooltip .tooltip_txt::before {
  content: "▼";
  position: absolute;
  bottom: -8px;
  z-index: 1;
  text-align: center;
  width: 26px;
  height: 16px;
  color: #659e2b;
  right: 0;
  left: 0;
  margin: 0 auto;
  font-size: 23px;
}

/************** Chat tooltip ************/
/*/////////////////////////////////////////////////////////////////////////*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.chat-window {
  position: absolute;
  bottom: 0;
  right: 3em;
  width: 300px;
  height: 420px;
  -webkit-transition: all ease-out 250ms;
  transition: all ease-out 250ms;
  background-color: #fff;
  z-index: 9;
  border-radius: 6px 6px 0 0;
}
.chat-window.docked {
  -webkit-transform: translateY(384px);
  transform: translateY(384px);
  background-color: transparent;
}
.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 38px;
  border-radius: 6px 6px 0 0;
  background: #55abd2;
  position: relative;
  cursor: pointer;
  opacity: 1;
  text-align: left;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 38px;
}
.chat-window .chat-header span {
  opacity: 1;
  position: absolute;
  display: block;
  top: calc(50% - (1em / 2));
  right: calc(1.5em - (1em / 2));
  width: 1em;
  height: 1em;
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;
  -webkit-transition: all ease 350ms;
  transition: all ease 350ms;
  color: #fff;
  font-size: 24px;
}
.chat-window .chat-body {
  height: calc(450px - (38px + 70px));
  border: 1px solid #55abd2;
  background: #fff;
  border-top: 0;
  border-bottom: 0;
  position: relative;
}
.chat-window .chat-body .message-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.chat-window .chat-body .message {
  position: relative;
  padding: 1em 0.7em 2em;
  margin-bottom: 0.5em;
  border-bottom: 1px dotted #cfd8dc;
}
.chat-window .chat-body .message .profile {
  position: absolute;
  top: 1em;
  left: 0.7em;
}
.chat-window .chat-body .message .profile img {
  width: 40px;
  height: auto;
  border-radius: 100%;
}
.chat-window .chat-body .message .message-meta {
  width: calc(100% - (40px + 1em));
  height: 25px;
  float: right;
}
.chat-window .chat-body .message .message-meta p {
  display: inline-block;
  font-size: 0.75em;
  font-weight: 700;
  color: #90a4ae;
  margin-top: 5px;
}
.chat-window .chat-body .message .message-meta p:last-child {
  font-size: 0.5em;
  vertical-align: bottom;
  margin-top: 7px;
  float: right;
}
.chat-window .chat-body .message .message-content {
  width: calc(100% - (40px + 1em));
  height: 40px;
  float: right;
}
.chat-window .chat-body .message .message-content p {
  text-align: left;
  line-height: 1.2;
  font-size: 0.9em;
  color: #55abd2;
}
.chat-window .chat-body .message .message-content p + p {
  margin-top: 0.5em;
}
.chat-window .chat-body .message:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.chat-window .chat-body .message.user .profile {
  left: auto;
  right: 0.7em;
}
.chat-window .chat-body .message.user .message-meta,
.chat-window .chat-body .message.user .message-content {
  float: left;
}
.chat-window .chat-body .message.user .message-meta p {
  float: right;
}
.chat-window .chat-body .message.user .message-meta p:last-child {
  float: left;
}
.chat-window .chat-body .message.user .message-content p {
  text-align: right;
}
.chat-window .chat-footer {
  height: 70px;
  border: 1px solid #55abd2;
  border-top: 0;
  border-bottom: 0;
  margin-top: -30px;
}
.chat-window .chat-footer .progress-indicator {
  opacity: 1;
  background: rgba(255, 255, 255, 0.9);
  height: 30px;
  text-align: center;
  font-size: 0.7em;
  font-weight: 300;
  line-height: 30px;
  position: relative;
  z-index: 4;
  -webkit-transition: all ease 150ms;
  transition: all ease 150ms;
}
.chat-window .chat-footer .form-area {
  height: 40px;
  position: relative;
}
.chat-window .chat-footer .form-area input {
  height: 40px;
  width: calc(100% - (0.7em + 2.5em + 2px));
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-top: 1px dotted #607d8b;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.chat-window .chat-footer .form-area input:focus + button:after {
  border-left: 1.6em solid #66bb6a;
}
.chat-window .chat-footer .form-area button {
  border: 0;
  border-top: 1px dotted #607d8b;
  position: absolute;
  display: block;
  width: 2.5em;
  height: 40px;
  top: 0;
  right: 0;
  z-index: 2;
  background: transparent;
  outline: none;
}
.chat-window .chat-footer .form-area button:before {
  position: absolute;
  top: calc(50% - 0.4em);
  left: 0.4em;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-bottom: 0.4em solid transparent;
  border-left: 0.4em solid #fff;
  z-index: 3;
}
.chat-window .chat-footer .form-area button:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
  border-bottom: 0.8em solid transparent;
  border-left: 1.6em solid #b0bec5;
  z-index: 2;
}

.hide {
  opacity: 0 !important;
}

/************ responsive ***********/
@media (max-width: 767px) {
  .chat-window {
    right: 0;
  }
  .chat-window.docked {
    width: 72px;
  }
  .chat-window .chat-header p {
    display: none;
  }

  .custom_tooltip .tooltip_txt::before {
    left: auto;
  }
}
/************** Chat Window ************/
/*/////////////////////////////////////////////////////////////////////////*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/********** Start Header section *****************/
.header {
  background: url("../../img/bg-top2.webp") no-repeat top right;
  background-size: 100% auto;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  display: block;
}
.header .wrapper_h {
  position: relative;
  z-index: 999;
  padding: 140px 0 40px 0;
  text-align: right;
}
.header .head_txt {
  color: #fff;
}
.header .head_txt h1 {
  margin: 0;
}
.header .head_txt h3 {
  margin: 24px 0;
}
.header .head_txt h5 {
  margin: 0;
  line-height: 1.6;
}
.header .head_txt .animate__fadeInUp:last-child {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.header::before {
  content: "";
  height: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: #55abd2;
  background: url("../../img/bg-tab.webp") no-repeat bottom left;
  background-size: auto 100%;
  background-attachment: fixed;
  z-index: 99;
  width: 55%;
}
.header::after {
  content: "";
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 0, 50% 0, 100% 100%, 29% 100%);
  clip-path: polygon(0 0, 50% 0, 100% 100%, 29% 100%);
  background-color: #fff;
  z-index: 9;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 21% 0, 100% 71%, 100% 100%, 25% 100%, 0% 50%);
  clip-path: polygon(0 0, 21% 0, 100% 71%, 100% 100%, 25% 100%, 0% 50%);
}

/********** Housing Request *****************/
.housing {
  text-align: center;
}
.housing img {
  max-width: 380px;
  -o-object-fit: contain;
  object-fit: contain;
}

.my_form {
  -webkit-box-shadow: 0px 0px 24px 0px #b8b8b8;
  -o-box-shadow: 0px 0px 24px 0px #b8b8b8;
  -ms-box-shadow: 0px 0px 24px 0px #b8b8b8;
  box-shadow: 0px 0px 24px 0px #b8b8b8;
  padding: 30px 20px;
  background-color: #fff;
}
.my_form h2 {
  color: #163260;
  margin: 0 auto 14px auto;
}
.my_form h5 {
  color: #efa830;
  margin: 0 auto 24px auto;
}
.my_form .effect_an {
  margin: 0 auto;
  width: 100%;
}
.my_form .effect_an::after {
  background-color: #55abd2;
  border-color: #55abd2;
}
.my_form .effect_an::before {
  background-color: #efa830;
  border-color: #efa830;
}
.my_form .effect_an:hover, .my_form .effect_an:focus {
  background-color: #efa830;
}
.my_form .row > div:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 74px;
}

.question {
  position: relative;
  width: 100%;
}
.question label {
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  color: #7a7e7f;
  font-weight: 100;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -46px;
  z-index: 2;
  pointer-events: none;
}
.question .input {
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: none;
  border: 2px solid #e1e1e1;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: #163260;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
.question .input:focus {
  outline: none;
  background: #55abd2;
  color: #fff;
  margin-top: 30px;
}
.question .input:focus ~ label {
  -webkit-transform: translate(0, -26px);
  transform: translate(0, -26px);
  font-size: 13px;
}
.question .input:valid {
  margin-top: 0;
}
.question .input:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -webkit-transform: translate(5px, 30px) scale(0.6);
  transform: translate(5px, 30px) scale(0.6);
  position: absolute;
  top: 0;
}

/******************* select2 **************************/
.select2-container--open .select2-dropdown {
  min-width: 100px;
  direction: rtl;
  text-align: right;
  border: 1px solid #e1e1e1;
  border-radius: 0 0 12px 12px;
  background-color: #e1e1e1;
}

.select2-results__option {
  display: block;
}
.select2-results__option--highlighted[aria-selected] {
  background-color: #55abd2 !important;
}

.select2-container {
  z-index: 9999;
  width: 100% !important;
}
.select2-container .select2-selection--single {
  height: 43px !important;
  border-radius: 60px !important;
}

.select2-container--default .select2-selection--single {
  border: 2px solid #e1e1e1;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #7a7e7f;
  padding: 0 15px 0 20px;
  text-align: right;
  line-height: 39px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: calc(50% - 13px) !important;
  left: 1px;
  right: auto;
}
.select2-container--default .select2-selection--single:focus {
  border-color: var(--blue-color);
}

/**********************/
.promise {
  color: #7a7e7f;
  text-align: right;
  margin: 20px 0 0 0;
  font-size: 14px;
}

/********** Start About section *****************/
.block1 p {
  color: #7a7e7f;
  margin-bottom: 0.4rem;
}
.block1 p:last-child {
  margin-bottom: 0;
}

.orng {
  color: #efa830;
  margin: 30px 0 20px 0;
}

.dotted_list {
  color: #7a7e7f;
  list-style: none;
}
.dotted_list li {
  line-height: 1.5;
  padding-right: 20px;
  position: relative;
  display: block;
  margin-bottom: 13px;
}
.dotted_list li:last-child {
  margin-bottom: 0;
}
.dotted_list li::before {
  content: "";
  background-color: #55abd2;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  right: 0;
  top: 6px;
}

/******* about video ************/
.pulse:hover {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(86, 175, 188, 0);
    box-shadow: 0 0 0 rgba(86, 175, 188, 0);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
    box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(86, 175, 188, 0);
    box-shadow: 0 0 0 rgba(86, 175, 188, 0);
  }
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(86, 175, 188, 0);
    box-shadow: 0 0 0 rgba(86, 175, 188, 0);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
    box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(86, 175, 188, 0);
    box-shadow: 0 0 0 rgba(86, 175, 188, 0);
  }
}
.left_column {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  margin: 8px auto 0 auto;
}
.left_column p {
  font-size: 21px;
  margin: 8px auto 0 auto;
}

.pulse {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: calc(50% - 30px);
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  background-color: #BEB9BA;
  border: 6px solid #BEB9BA;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
  -o-box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
  -ms-box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
  box-shadow: 0 0 0 10px rgba(86, 175, 188, 0.4);
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

.video-btn {
  background-color: transparent;
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}
.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-content {
  max-width: 90%;
  margin: 0 auto;
}

.modal-body {
  position: relative;
  padding: 0px;
}
.modal-body .close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
  text-shadow: none;
  background-color: #efa830 !important;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}

/********** End Header section *****************/
/*********** RESPONSIVE **********************/
@media (max-width: 991px) {
  .header {
    background-size: cover;
  }
}
@media (max-width: 767px) {
  /*********** Header ********************/
  .header {
    background-size: 100% 400px;
    background-attachment: unset;
  }
  .header::before {
    height: 400px;
  }
  .header::after {
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transform: none;
    transform: none;
    width: 100%;
    height: 400px;
    -webkit-clip-path: none;
    clip-path: none;
  }
  .header .wrapper_h {
    padding-top: 100px;
  }
  .header .head_txt {
    max-width: unset;
    color: #55abd2;
    margin-bottom: 20px;
  }
  .header .head_txt h1 {
    font-size: 30px;
  }
  .header .head_txt h3 {
    font-size: 22px;
    margin: 14px 0;
  }
  .header .head_txt h5 {
    font-size: 17px;
    color: #fff;
  }

  /***************** Housing********************/
  .housing img {
    max-width: 280px;
  }

  .my_form {
    padding: 16px 12px;
    margin: 0 auto 30px auto;
  }
  .my_form h2 {
    margin: 0 auto 10px auto;
    font-size: 22px;
  }
  .my_form h5 {
    margin: 0 auto 4px auto;
    font-size: 16px;
  }

  .left_column {
    margin: 20px auto 0 auto;
  }
  .left_column p {
    color: #163260;
  }

  .block1 p {
    line-height: 1.2;
    margin-bottom: 0;
    color: #163260;
  }

  .video-btn {
    color: #163260;
  }

  .modal-body .close {
    right: 30px;
    top: -30px;
    z-index: 999999;
    color: #282c2d;
  }

  .about {
    border-top: 1px solid #d7d7d7;
    margin-top: 30px;
    padding-top: 30px;
  }
}
/**************  Header Section ************/
/*/////////////////////////////////////////////////////////////////////////*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.services .my_title {
  margin-right: auto;
  margin-left: auto;
}

.services .row .col {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  overflow: hidden;
  max-width: 20%;
}

.service1 {
  background-color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 24px 10px;
  position: relative;
  margin-bottom: 30px;
}
.service1::before, .service1::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0;
  -webkit-transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.service1::before {
  border-top: 2px solid #55abd2;
  border-right: 2px solid #55abd2;
  top: 0;
  right: 0;
  -webkit-transform: translate(-200%, 200%);
  transform: translate(-200%, 200%);
}
.service1::after {
  border-bottom: 2px solid #55abd2;
  border-left: 2px solid #55abd2;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(200%, -200%);
  transform: translate(200%, -200%);
}
.service1:hover::before, .service1:hover::after {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0);
}
.service1:hover img {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.srv_img {
  background: #163260;
  background: -webkit-gradient(linear, left bottom, left top, from(#163260), to(#55abd2));
  background: linear-gradient(0deg, #163260 0%, #55abd2 100%);
  border-radius: 50%;
  width: 130px;
  height: 130px;
  padding: 8px;
}
.srv_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.srv_name {
  color: #163260;
  font-size: 20px;
  margin: 14px auto 0 auto;
}

.services .row .col:nth-child(1) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.services .row .col:nth-child(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.services .row .col:nth-child(3) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.services .row .col:nth-child(4) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.services .row .col:nth-child(5) {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.services .row .col:nth-child(6) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.services .row .col:nth-child(7) {
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
}

.services .row .col:nth-child(8) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.services .row .col:nth-child(9) {
  -webkit-animation-delay: 2.25s;
  animation-delay: 2.25s;
}

@media (max-width: 991px) {
  .services .row .col {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.33%;
    flex: 1 1 33.33%;
    max-width: 33.33%;
  }
}
@media (max-width: 567px) {
  .services .row .col {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 50%;
  }

  .service1 {
    margin-bottom: 20px;
  }

  .srv_img {
    width: 110px;
    height: 110px;
  }

  .srv_name {
    font-size: 18px;
  }
}
/**************  Services Section ************/
/*/////////////////////////////////////////////////////////////////////////*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.terms-of-program {
  background: url("../../img/bg-aplication.webp") no-repeat bottom center;
  background-size: contain;
}

@-webkit-keyframes linear-bg {
  0% {
    background: #dadaec;
  }
  100% {
    background: -webkit-gradient(linear, left bottom, left top, from(#163260), to(#55abd2));
    background: linear-gradient(0deg, #163260 0%, #55abd2 100%);
    color: #fff;
  }
}
@keyframes linear-bg {
  0% {
    background: #dadaec;
  }
  100% {
    background: -webkit-gradient(linear, left bottom, left top, from(#163260), to(#55abd2));
    background: linear-gradient(0deg, #163260 0%, #55abd2 100%);
    color: #fff;
  }
}
.custom_counter {
  margin-top: 40px;
  text-align: right;
  color: #60c837;
}
.custom_counter li {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .custom_counter {
    margin-top: 24px;
  }

  .terms-of-program .row div:first-child .terms1 {
    margin-bottom: 30px;
  }
}
/**************  Terms Section ************/
/*/////////////////////////////////////////////////////////////////////////*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.payment_methods {
  background: url("../../img/bg-tab.webp") no-repeat center;
  background-size: 100% 100%;
  text-align: center;
}
.payment_methods .my_title {
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}
.payment_methods .my_title::before {
  background-image: url(../../img/divider2.webp);
}

.nav-tabs {
  border-bottom: 0;
}
.nav-tabs .nav-link {
  border: 0;
  background-color: #163260;
  color: #ffffff;
  padding: 0.6rem 3rem;
  font-size: 18px;
  border-top-left-radius: 0.45rem;
  border-top-right-radius: 0.45rem;
  margin-left: 8px;
  margin-bottom: 0;
}
.nav-tabs .nav-link:last-child {
  margin-left: 0;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #55abd2;
}

.tab-content {
  background-color: #fff;
  border-radius: 0.45rem 0 0.45rem 0.45rem;
  padding: 50px 20px 24px 20px;
  text-align: right;
}

/***** checked list ********/
.checked_list li {
  position: relative;
  padding-right: 34px;
  color: #7a7e7f;
  display: block;
  font-size: 17px;
  margin-bottom: 6px;
}
.checked_list li:last-child {
  margin-bottom: 0;
}
.checked_list li::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  color: #163260;
  font-size: 21px;
}

/******* payment terms *******/
.pay_terms {
  margin: 34px 0 0 0;
}
.pay_terms .pay1 {
  background-color: #f1f9fb;
  color: #7a7e7f;
  border-radius: 0.45rem;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 12px;
}
.pay_terms .pay1::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: -7px;
  border-bottom: 2px solid #e9e9e9;
}
.pay_terms .pay1:last-child::before {
  display: none;
}
.pay_terms .pay1 > div {
  padding: 16px;
}

.pay_name {
  border-left: 1px solid #e9e9e9;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 22%;
  flex: 1 1 22%;
}

.pay_price {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 78%;
  flex: 1 1 78%;
}

/************** RESPONSIVE ****************/
@media (max-width: 567px) {
  .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-tabs .nav-link {
    padding: 0.6rem 0;
    font-size: 16px;
    margin-left: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
  }
  .nav-tabs .nav-link:first-child {
    border-radius: 0 0.45rem 0 0;
  }
  .nav-tabs .nav-link:last-child {
    border-radius: 0.45rem 0 0 0;
  }

  .tab-content {
    border-radius: 0 0 0.45rem 0.45rem;
    padding: 30px 8px 10px 8px;
  }

  .checked_list li {
    font-size: 14px;
    padding-right: 25px;
  }
  .checked_list li::before {
    width: 20px;
    font-size: 17px;
  }

  .pay_terms .pay1 {
    font-size: 14px;
  }
  .pay_terms .pay1 > div {
    padding: 12px 8px;
  }

  .pay_name {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    text-align: center;
    color: #163260;
  }

  .pay_price {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 70%;
    flex: 1 1 70%;
  }
}
/**************  Payment Section ************/
/*/////////////////////////////////////////////////////////////////////////*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.customer {
  text-align: center;
}
.customer h2 {
  color: #55abd2;
  margin: 0 auto 30px auto;
}
.customer .effect_an {
  margin: 0 auto;
  font-size: 19px;
}
.customer .effect_an::after {
  background-color: #163260;
  border-color: #163260;
}
.customer .effect_an::before {
  background-color: #efa830;
  border-color: #efa830;
}
.customer .effect_an:hover, .customer .effect_an:focus {
  background-color: #efa830;
}

/****************************/
.calling {
  margin-top: 100px;
}
.calling .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tawasal {
  color: #55abd2;
  text-align: right;
}

.box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 6px;
  border-bottom: 2px solid #efefef;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
}
.box1::before {
  content: "";
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 0;
  border-bottom: 2px solid #55abd2;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.box1:hover {
  border-color: transparent;
}
.box1:hover::before {
  width: 100%;
}
.box1:hover .box_i {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.box_body {
  width: calc(100% - 60px);
  padding-left: 10px;
  text-align: center;
}
.box_body a {
  font-size: 18px;
  display: block;
}

.box_i {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 40px;
  border-radius: 8px;
  background-color: #55abd2;
  -webkit-transition: transform 0.25s ease-in-out;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  color: #fff;
}

@media (max-width: 991px) {
  .tawasal {
    text-align: center;
    margin: 0 auto 15px auto;
  }

  .box_body a {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .calling {
    margin-top: 50px;
  }
  .calling .row > div:last-of-type .box1 {
    margin-top: 15px;
  }

  .customer h2 {
    font-size: 24px;
    line-height: 1.6;
  }
}
/**************  Contact Section ************/
/*/////////////////////////////////////////////////////////////////////////*//*# sourceMappingURL=main.css.map */