@charset "UTF-8";
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@font-face {
  font-family: "Almarai-Regular";
  src: url(../../fonts/Almarai-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Almarai-Bold";
  src: url(../../fonts/Almarai-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Almarai-ExtraBold";
  src: url(../../fonts/Almarai-ExtraBold.ttf);
  font-display: swap;
}
/***colors****/
/***********mixins************/
#scroll-top img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.most_sec {
  padding: 40px 0;
}

.nav-tabs .nav-link, .my_title {
  font-family: "Almarai-Bold";
}

/************************ ///////// ********************/
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #55abd2;
  outline: 1px solid #fff;
  border-radius: 30px;
}

::-moz-selection {
  background: #163260;
  color: #fff;
}

::selection {
  background: #163260;
  color: #fff;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Almarai-Regular" !important;
  padding: 0 !important;
  margin: 0 !important;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  color: #163260;
  overflow-x: hidden !important;
  overflow-y: hidden;
  direction: rtl !important;
  background-color: #ffffff;
}

/*********** Reset ************/
a {
  color: #163260;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:focus {
  text-decoration: none;
  color: #efa830;
}

button {
  border: 0;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

a,
button,
#scroll-top,
.form-control,
.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-border {
  border: 0 !important;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11 {
  float: right !important;
}

/*********************/
.body-over {
  overflow-y: hidden !important;
}

.body-overlay {
  background-color: rgba(12, 12, 12, 0.75);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  opacity: 0;
  display: none;
}
.body-overlay.back {
  transform: translateX(0px) !important;
  -webkit-transform: translateX(0px) !important;
  -moz-transform: translateX(0px) !important;
  -ms-transform: translateX(0px) !important;
  -o-transform: translateX(0px) !important;
}

.back {
  opacity: 1;
  display: block;
}

/*********/
/********************************** Start LOADER *****************************/
.loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #163260;
  z-index: 999999999;
  direction: ltr;
}
.loader .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

.main-circle {
  width: 150px;
  height: 150px;
  border: 4px solid #2fa79f;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  position: relative;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: rotate 2s infinite;
  animation: rotate 2s infinite;
}
.main-circle::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  border: 4px solid transparent;
  border-right: 4px solid #2fa79f;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  border-radius: 50%;
}

.green-circle {
  -webkit-animation: rotate 2s infinite 0.4s;
  animation: rotate 2s infinite 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 4px solid #2fa79f;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  border-radius: 50%;
  position: relative;
}
.green-circle::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  border: 4px solid transparent;
  border-right: 4px solid #2fa79f;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.brown-circle {
  -webkit-animation: rotate 2s infinite 0.6s;
  animation: rotate 2s infinite 0.6s;
  width: 80px;
  height: 80px;
  border: 4px solid #2fa79f;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  border-radius: 50%;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/************** Opening Doors ********************/
.door {
  background-color: #163260;
  border: solid 2px #efa830;
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  overflow-x: hidden;
  cursor: pointer;
  z-index: 99999;
}

#ldoor {
  left: 0;
}

#rdoor {
  right: 0;
}

/************************************************* END LOADER *****************************************/
/*** Scroll to top *********/
#scroll-top {
  display: none;
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  z-index: 9;
  cursor: pointer;
  background: #163260;
  font-size: 24px;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 50%;
  opacity: 1;
  padding: 5px;
}
/***********/
.my_title {
  position: relative;
  color: #55abd2;
  padding-bottom: 24px;
  margin: 0 0 20px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.my_title::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 0;
  background: url("../../img/divider.webp") no-repeat center;
  background-size: contain;
  width: 100%;
  height: 14px;
}

@media (max-width: 767px) {
  .my_title {
    font-size: 26px;
    margin: 0 auto 20px auto;
  }
}
.container-xl.my-container {
  padding: 0;
}
.container-xl.my-container.the_first {
  padding-bottom: 40px;
}
.container-xl.my-container.rel_one {
  position: fixed;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 0;
  z-index: 9;
}

@media (min-width: 1200px) {
  .container-xl.my-container {
    max-width: 1400px;
  }
}
.payment_methods {
  background: url("../../img/bg-tab.webp") no-repeat center;
  background-size: 100% 100%;
  text-align: center;
}
.payment_methods .my_title {
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}
.payment_methods .my_title::before {
  background-image: url(../../img/divider2.webp);
}

.nav-tabs {
  border-bottom: 0;
}
.nav-tabs .nav-link {
  border: 0;
  background-color: #163260;
  color: #ffffff;
  padding: 0.6rem 3rem;
  font-size: 18px;
  border-top-left-radius: 0.45rem;
  border-top-right-radius: 0.45rem;
  margin-left: 8px;
  margin-bottom: 0;
}
.nav-tabs .nav-link:last-child {
  margin-left: 0;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #55abd2;
}

.tab-content {
  background-color: #fff;
  border-radius: 0.45rem 0 0.45rem 0.45rem;
  padding: 50px 20px 24px 20px;
  text-align: right;
}

/***** checked list ********/
.checked_list li {
  position: relative;
  padding-right: 34px;
  color: #7a7e7f;
  display: block;
  font-size: 17px;
  margin-bottom: 6px;
}
.checked_list li:last-child {
  margin-bottom: 0;
}
.checked_list li::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  color: #163260;
  font-size: 21px;
}

/******* payment terms *******/
.pay_terms {
  margin: 34px 0 0 0;
}
.pay_terms .pay1 {
  background-color: #f1f9fb;
  color: #7a7e7f;
  border-radius: 0.45rem;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 12px;
}
.pay_terms .pay1::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: -7px;
  border-bottom: 2px solid #e9e9e9;
}
.pay_terms .pay1:last-child::before {
  display: none;
}
.pay_terms .pay1 > div {
  padding: 16px;
}

.pay_name {
  border-left: 1px solid #e9e9e9;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 22%;
  flex: 1 1 22%;
}

.pay_price {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 78%;
  flex: 1 1 78%;
}

/************** RESPONSIVE ****************/
@media (max-width: 567px) {
  .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-tabs .nav-link {
    padding: 0.6rem 0;
    font-size: 16px;
    margin-left: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
  }
  .nav-tabs .nav-link:first-child {
    border-radius: 0 0.45rem 0 0;
  }
  .nav-tabs .nav-link:last-child {
    border-radius: 0.45rem 0 0 0;
  }

  .tab-content {
    border-radius: 0 0 0.45rem 0.45rem;
    padding: 30px 8px 10px 8px;
  }

  .checked_list li {
    font-size: 14px;
    padding-right: 25px;
  }
  .checked_list li::before {
    width: 20px;
    font-size: 17px;
  }

  .pay_terms .pay1 {
    font-size: 14px;
  }
  .pay_terms .pay1 > div {
    padding: 12px 8px;
  }

  .pay_name {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    text-align: center;
    color: #163260;
  }

  .pay_price {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 70%;
    flex: 1 1 70%;
  }
}/*# sourceMappingURL=payment.css.map */