/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.payment_methods {
  background: url("../../img/bg-tab.webp") no-repeat center;
  background-size: 100% 100%;
  text-align: center;
  .my_title {
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
    &::before {
      background-image: url(../../img/divider2.webp);
    }
  }
}
.nav-tabs {
  border-bottom: 0;
  .nav-link {
    border: 0;
    background-color: $blue-color;
    color: #ffffff;
    @extend %semi_bold;
    padding: 0.6rem 3rem;
    font-size: 18px;
    border-top-left-radius: 0.45rem;
    border-top-right-radius: 0.45rem;
    margin-left: 8px;
    margin-bottom: 0;
    &:last-child {
      margin-left: 0;
    }
  }
  .nav-item.show .nav-link,
  .nav-link.active {
    color: $babyblue-color;
  }
}
.tab-content {
  background-color: #fff;
  border-radius: 0.45rem 0 0.45rem 0.45rem;
  padding: 50px 20px 24px 20px;
  text-align: right;
}
/***** checked list ********/
.checked_list {
  li {
    position: relative;
    padding-right: 34px;
    color: $grey-color;
    display: block;
    font-size: 17px;
    margin-bottom: 6px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: "\f058";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      color: #163260;
      font-size: 21px;
    }
  }
}
/******* payment terms *******/
.pay_terms {
  margin: 34px 0 0 0;
  .pay1 {
    background-color: #f1f9fb;
    color: $grey-color;
    border-radius: 0.45rem;
    font-size: 17px;
    @include dis-flex;
    @include flex-col-center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 12px;
    &::before {
      content: "";
      position: absolute;
      @include absolute;
      bottom: -7px;
      border-bottom: 2px solid #e9e9e9;
    }
    &:last-child::before {
      display: none;
    }
    & > div {
      padding: 16px;
    }
  }
}
.pay_name {
  border-left: 1px solid #e9e9e9;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 22%;
  flex: 1 1 22%;
}
.pay_price {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 78%;
  flex: 1 1 78%;
}
/************** RESPONSIVE ****************/
@media (max-width: 567px) {
  .nav-tabs {
    @include flex-center;
    .nav-link {
      padding: 0.6rem 0;
      font-size: 16px;
      margin-left: 0;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
      flex: 1 1 0;
      &:first-child {
        border-radius: 0 0.45rem 0 0;
      }
      &:last-child {
        border-radius: 0.45rem 0 0 0;
      }
    }
  }
  .tab-content {
    border-radius: 0 0 0.45rem 0.45rem;
    padding: 30px 8px 10px 8px;
  }
  .checked_list li {
    font-size: 14px;
    padding-right: 25px;
    &::before {
      width: 20px;
      font-size: 17px;
    }
  }
  .pay_terms .pay1 {
    font-size: 14px;
    & > div {
      padding: 12px 8px;
    }
  }
  .pay_name {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    text-align: center;
    color: $blue-color;
  }
  .pay_price {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 70%;
    flex: 1 1 70%;
  }
}
