/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.services {
  .my_title {
    margin-right: auto;
    margin-left: auto;
  }
}
.services .row .col {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  overflow: hidden;
  max-width: 20%;
}
.service1 {
  background-color: $grey-bg;
  @include flex-center;
  @include flex-dir-column;
  padding: 24px 10px;
  position: relative;
  margin-bottom: 30px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;
    @include rTransition(transform 0.3s ease-in-out);
  }
  &::before {
    border-top: 2px solid $babyblue-color;
    border-right: 2px solid $babyblue-color;
    top: 0;
    right: 0;
    @include rTransform(translate(-200%, 200%));
  }
  &::after {
    border-bottom: 2px solid $babyblue-color;
    border-left: 2px solid $babyblue-color;
    bottom: 0;
    left: 0;
    @include rTransform(translate(200%, -200%));
  }
  &:hover {
    &::before,
    &::after {
      opacity: 1;
      @include rTransform(translate(0));
    }
    img {
      @include rTransform(rotate(360deg));
    }
  }
}
.srv_img {
  background: rgb(22, 50, 96);
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(22, 50, 96, 1)),
    to(rgba(85, 171, 210, 1))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(22, 50, 96, 1) 0%,
    rgba(85, 171, 210, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(22, 50, 96, 1) 0%,
    rgba(85, 171, 210, 1) 100%
  );
  border-radius: 50%;
  width: 130px;
  height: 130px;
  padding: 8px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    @include objectFit(cover);
    @include rTransition(transform 0.5s ease-in-out);
  }
}
.srv_name {
  color: $blue-color;
  font-size: 20px;
  margin: 14px auto 0 auto;
  @extend %ellipsis;
}
@for $i from 1 to 10 {
  .services .row .col:nth-child(#{$i}) {
    -webkit-animation-delay: $i * 0.25s;
    animation-delay: $i * 0.25s;
  }
}
@media (max-width: 991px) {
  .services .row .col {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.33%;
    flex: 1 1 33.33%;
    max-width: 33.33%;
  }
}
@media (max-width: 567px) {
  .services .row .col {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 50%;
  }
  .service1 {
    margin-bottom: 20px;
  }
  .srv_img {
    width: 110px;
    height: 110px;
  }
  .srv_name {
    font-size: 18px;
  }
}
