<!DOCTYPE html>
<html lang="">
  <head>
      <meta charset="UTF-8" lang="ar">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="csrf-token" content="true">
      <meta name="HandheldFriendly" content="true">
      <link rel="dns-prefetch" href="//www.instagram.com">
      <link rel="dns-prefetch" href="//www.linkedin.com">
      <link rel="dns-prefetch" href="//www.facebook.com">
      <link rel="dns-prefetch" href="//www.twitter.com">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="subject" content="مسكنك">
      <meta name="copyright" content="مسكنك">
      <meta name="language" content="ar">
      <meta name="robots" content="index,follow">
      <meta name="topic" content="الأصل والبناء">
      <meta name="Classification" content="وحدة سكن بسعر التكلفة">
      <meta name="designer" content="القمم">
      <meta name="owner" content="إلمار العقارية">
      <meta name="category" content="مسكنك">
      <meta name="author" content="مسكنك">
      <meta name="keywords" content="مسكنك السعودي, مساكن السعودية, إلمار العقارية, مسكنك">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="إحدى البرامج المسؤولية الاجتماعية لشركة إلمار العقارية">
      <title>Maskank</title>
      <!------------- Start generated favicon --------->
      <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x1favicon-3favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
      <link rel="manifest" href="img/favicon/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="<%= BASE_URL %>assets/img/favicon/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">


      <meta name="twitter:card" content="مسكنك" />
      <meta name="twitter:site" content="@mskank" />
      <meta name="twitter:creator" content="@reemfariss" />
      <meta property="og:url" content="/" />
      <meta property="og:title" content="مسكنك السعودي    " />
      <meta property="og:description" content="إحدى البرامج المسؤولية الاجتماعية لشركة إلمار العقارية" />
      <meta property="og:image" content="http://graphics8.nytimes.com/images/2011/12/08/technology/bits-newtwitter/bits-newtwitter-tmagArticle.jpg" />

      <!------------- End generated favicon --------->
      <!------------- Style Links --------->
      <link rel="stylesheet" href="css/fontawesome.min.css">
      <link rel="stylesheet" href="scss/plugins/plugins.css">
      <link rel="stylesheet" href="scss/custom-style/main.css">
      <!-- /////////////////////|||||||End Layout |||||||||||||||||||| -->
  </head>
  <body data-spy="scroll" data-target=".nav.cf" data-offset="100" onload="load()">
  <div id="ldoor" class="door"></div>
  <div id="rdoor" class="door"></div>
  <div class="body-overlay"></div>
  <!-- Start Loading-Page -->
  <div class="loader">
      <div class="wrapper">
          <div class="main-circle">
              <div class="green-circle">
                  <div class="brown-circle">
                  </div>
              </div>
          </div>
      </div>
  </div>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="app"></div>
    <!-- built files will be auto injected -->

  <!-- /////////////////////||||||||||||||||||||||||||||| Start Script |||||||||||||||||||||||||||| -->
      <script src="js/jquery-2.1.4.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/fontawesome.min.js"></script>
      <script src="js/select2.full.js"></script>
      <script src="js/wow.min.js"></script>
      <script src="js/main.js"></script>
  <!-- /////////////////////||||||||||||||||||||||||||||| End Script |||||||||||||||||||||||||||| -->

  </body>
</html>
