<template>
  <div>
    <!-- /////////////////////||||||||||||||||||||||||||||| Start Footer |||||||||||||||||||||||||||| -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="copyright">
            &copy;
            جميع الحقوق محفوظة . برنامج مسكنك
            <span id="currentYear"></span>
          </div>
          <ul class="social">
            <li><a href="#" target="_blank" class="icon-ig" title="Instagram"> <i
                class="fab fa-instagram"></i>
            </a></li>
            <li><a href="#" target="_blank" class="icon-g" title="Google plus"> <i
                class="fab fa-google-plus-g"></i> </a>
            </li>
            <li><a href="#" target="_blank" class="icon-whats" title="Whatsapp"> <i
                class="fab fa-whatsapp"></i>
            </a>
            </li>
            <li><a href="#" target="_blank" class="icon-tw" title="Twitter"> <i class="fab fa-twitter"></i>
            </a>
            </li>
            <li><a href="#" target="_blank" class="icon-f" title="Facebook"> <i class="fab fa-facebook"></i>
            </a></li>
          </ul>
          <div class="made_by">
            تصميم وتطوير <a href="glow-aps.com" target="_blank" title="Glow Apps">جلو ابس</a>
            <img src="img/m7r.webp" onerror="this.src='img/logo.webp'" loading="lazy" decoding="async"
                 title="Glow Apps" alt="Glow Apps">
          </div>
        </div>
      </div>
    </footer>
    <!-- /////////////////////||||||||||||||||||||||||||||| End Footer |||||||||||||||||||||||||||| -->
    <!-- /////////////////////||||||||||||||||||||||||||||| Start Chat Window |||||||||||||||||||||||||||| -->
    <div class="container-xl my-container rel_one">
      <section class="chat-window docked">
        <div class="chat-header custom_tooltip">
          <p>We are online - chat with us</p>
          <span class="close"><i class="fas fa-comment-dots"></i></span>
          <div class="tooltip_txt">
            <span class="remov"><i class="fas fa-times"></i></span>
            <h5>noor capital</h5>
            <h6>chat with us live</h6>
          </div>
        </div>
        <div class="chat-body">
          <div class="message-container">
            <!-- loop -->
            <div class="message">
              <div class="profile">
                <img src="https://randomuser.me/api/portraits/women/72.jpg" />
              </div>
              <div class="message-meta">
                <p>Isobel</p>
                <p>17:43</p>
              </div>
              <div class="message-content">
                <p>If two vegiterians fight, is it still considered a Beef?</p>
              </div>
            </div>
            <div class="message user">
              <div class="profile">
                <img src="https://randomuser.me/api/portraits/men/47.jpg" />
              </div>
              <div class="message-meta">
                <p>Morty</p>
                <p>17:43</p>
              </div>
              <div class="message-content">
                <p>I carrot belive you thought of that so quickly</p>
              </div>
            </div>
            <div class="message">
              <div class="profile">
                <img src="https://randomuser.me/api/portraits/women/72.jpg" />
              </div>
              <div class="message-meta">
                <p>Isobel</p>
                <p>17:43</p>
              </div>
              <div class="message-content">
                <p>Lettuce rejoice over these puns</p>
              </div>
            </div>
            <div class="message user">
              <div class="profile">
                <img src="https://randomuser.me/api/portraits/men/47.jpg" />
              </div>
              <div class="message-meta">
                <p>Morty</p>
                <p>17:43</p>
              </div>
              <div class="message-content">
                <p>You seem like fun, we should turip sometime, seems like we'd be raisin the roof</p>
              </div>
            </div>
            <div class="message">
              <div class="profile">
                <img src="https://randomuser.me/api/portraits/women/72.jpg" />
              </div>
              <div class="message-meta">
                <p>Isobel</p>
                <p>17:43</p>
              </div>
              <div class="message-content">
                <p>For sure</p>
                <p>We'd make such a great pear</p>
              </div>
            </div>
            <div class="message user">
              <div class="profile">
                <img src="https://randomuser.me/api/portraits/men/47.jpg" />
              </div>
              <div class="message-meta">
                <p>Morty</p>
                <p>17:43</p>
              </div>
              <div class="message-content">
                <p>Denying it is totally fruitless</p>
                <p>We have such grape chemistry</p>
              </div>
            </div>
            <div class="message">
              <div class="profile">
                <img src="https://randomuser.me/api/portraits/women/72.jpg" />
              </div>
              <div class="message-meta">
                <p>Isobel</p>
                <p>17:43</p>
              </div>
              <div class="message-content">
                <p>Orange you glad you messaged me</p>
              </div>
            </div>
            <!-- end loop -->
          </div>
        </div>
        <div class="chat-footer">
          <div class="progress-indicator hide">
            <p>Isobel is typing</p>
          </div>
          <div class="form-area">
            <input type="text" />
            <button></button>
          </div>
        </div>
      </section>
    </div>
    <!-- /////////////////////||||||||||||||||||||||||||||| End Chat Window |||||||||||||||||||||||||||| -->
    <!--Scroll Button-->
    <div id="scroll-top">
      <img src="img/favicon.ico" onerror="this.src='img/logo.webp'" loading="lazy" decoding="async"
           title="Scroll to top" alt="scroll">
    </div>
    <!-- Video Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="fas fa-times"></i>
            </button>
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="" id="video"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'Header',
}
</script>

