<template>
  <div>
    <!-- /////////////////////|||||| Start Navbar |||||||||||||||||||||||||||| -->
    <div class="container-xl my-container navbar">
      <div class="container">
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-2 col-5">
            <div class="nav-right">
              <div id="nav-icon1">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <a href="index.html" class="logo-nav" title="Maskank">
                <img src="img/logo.webp" loading="lazy" decoding="async" title="Maskank" alt="Maskank">
              </a>
            </div>
          </div>
          <div class="col-xl-6 col-md-6 col-sm-7 col-xs-0 nav-r">
            <div class="navy">
              <ul class="nav nav-pills cf" id="ul1">
                <li><a class="nav-link" href="#about" title="About Maskank">ماهو مسكنك</a></li>
                <li><a class="nav-link" href="#services" title="Maskank Services">خدمات مسكنك</a></li>
                <li><a class="nav-link" href="#terms-of-program" title="Terms of Program">شروط
                  البرنامج</a>
                </li>
                <li><a class="nav-link" href="#housing-request" title="Housing Request">طلب سكن</a></li>
                <li><a class="nav-link" href="#payment-methods" title="Payment Methods">طرق السداد</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 col-7">
            <div class="nav_left">
              <ul class="social">
                <li><a href="#" target="_blank" class="icon-ig" title="Instagram"> <i
                    class="fab fa-instagram"></i> </a></li>
                <li><a href="#" target="_blank" class="icon-g" title="Google plus"> <i
                    class="fab fa-google-plus-g"></i> </a>
                </li>
                <li><a href="#" target="_blank" class="icon-whats" title="Whatsapp"> <i
                    class="fab fa-whatsapp"></i> </a>
                </li>
                <li><a href="#" target="_blank" class="icon-tw" title="Twitter"> <i
                    class="fab fa-twitter"></i> </a></li>
                <li><a href="#" target="_blank" class="icon-f" title="Facebook"> <i
                    class="fab fa-facebook"></i> </a></li>
              </ul>
              <a href="tel:966893873" class="effect_an call_now" title="Call us">
                <div><span><i class="fas fa-phone-alt"></i></span>
                  <p>966893873</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /////////////////////|||||| End Navbar |||||||||||||||||||||||||||| -->

  </div>
</template>

<script>
export default {
  name: 'Header',
}
</script>

