<template>
  <div>
    <!-- /////////////////////||||||||||||||||||||||||||||| Start Contact |||||||||||||||||||||||||||| -->
    <section class="most_sec contact">
      <div class="container">
        <div class="customer">
          <h2>تريد شراء مسكن أحلامك بمواصفاتك المُميزة</h2>
          <a href="#housing-request" class="effect_an" title="اطلب مسكنك الان">
            <div>اطلب مسكنك الان</div>
          </a>
        </div>
        <div class="calling">
          <div class="row">
            <div class="col-xl-4 col-lg-2 col-12">
              <h3 class="tawasal">تواصل معنا الان</h3>
            </div>
            <div class="col-xl-4 col-lg-5 col-sm-6 col-12">
              <div class="box1">
                <div class="box_body">
                  <a href="https://www.google.com.eg/maps/place/%D8%B4%D8%A7%D8%B1%D8%B9+%D8%A7%D9%84%D8%A3%D9%85%D9%8A%D8%B1+%D9%85%D8%AD%D9%85%D8%AF+%D8%A8%D9%86+%D8%B9%D8%A8%D8%AF%D8%A7%D9%84%D8%B9%D8%B2%D9%8A%D8%B2%D8%8C+%D8%AC%D8%AF%D8%A9+%D8%A7%D9%84%D8%B3%D8%B9%D9%88%D8%AF%D9%8A%D8%A9%E2%80%AD/@21.5574789,39.1821697,17z/data=!3m1!4b1!4m5!3m4!1s0x15c3d005105b1d6b:0xca8110bad50e13ef!8m2!3d21.5574739!4d39.179981"
                     alt="شارع+الأمير+محمد+بن+عبدالعزيز،+جدة+السعودية">شارع التحلية - جدة <br>المملكة
                    العربية السعودية</a>
                </div>
                <span class="box_i"><i class="fas fa-map-marker-alt"></i></span>
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-sm-6 col-12">
              <div class="box1">
                <div class="box_body">
                  <a href="tel:+996254434" alt="call +996254434">+996254434</a>
                  <a href="tel:+996456774" alt="call +996456774">+996456774</a>
                </div>
                <span class="box_i"><i class="fas fa-phone-alt"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /////////////////////||||||||||||||||||||||||||||| End Contact |||||||||||||||||||||||||||| -->

  </div>
</template>

<script>
export default {
  name: 'Contact',
}
</script>

