<template>
  <div>
    <!-- /////////////////////||||||||||||||||||||||||||||| Start Header |||||||||||||||||||||||||||| -->
    <section class="header" id="housing-request">
      <div class="container">
        <div class="wrapper_h">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-12">
              <div class="head_txt">
                <h1 class="wow animate__animated animate__backInRight">برنامج مَسكنك</h1>
                  <h3 class="wow animate__animated animate__fadeInUp">تمّلك مسكنك كما تحلم أن يكون
                  </h3>
                  <h5 class="wow animate__animated animate__fadeInUp">
                    فقط حدد مميزات مسكنك المطلوب وأحصل على عقارك بسعر التكلفة
                  </h5>
              </div>
            </div>
            <!-- /////////////////////||||||| Start housing request |||||||||||||||||| -->
            <div class="col-lg-7 col-md-7 col-12">
              <div class="housing">
                <img src="img/pers.webp" onerror="this.src='img/logo.webp'" loading="lazy"
                     decoding="async" alt="housing request"
                     class="wow animate__animated animate__fadeInDown">
                <form class="my_form needs-validation" novalidate>
                  <h2>حدد مميزات مسكنك</h2>
                  <h5>اْطلب مميزات مسكنك الان فى المملكة .. كما تحلم أن يكون</h5>
                  <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-6 col-12">
                      <div class="question">
                        <input type="text" class="form-control input" required />
                        <label>اسم العميل</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-6 col-12">
                      <div class="question">
                        <select class="form-control select-2">
                          <option disabled selected>المدينة</option>
                          <option>بريدة</option>
                          <option>الرياض</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-6 col-12">
                      <div class="question">
                        <input type="email" class="form-control input" required />
                        <label>البريد الإلكترونى</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-6 col-12">
                      <div class="question">
                        <select class="form-control select-2">
                          <option disabled selected>الحى</option>
                          <option>بريدة</option>
                          <option>الرياض</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-6 col-12">
                      <div class="question">
                        <input type="number" class="form-control input" required />
                        <label>رقم الهاتف</label>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-6 col-12">
                      <div class="question">
                        <select class="form-control select-2">
                          <option disabled selected>عدد الغرف</option>
                          <option>1</option>
                          <option>2</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-6 col-12">
                      <div class="question">
                        <select class="form-control select-2">
                          <option disabled selected>نوع العقار</option>
                          <option>شقق</option>
                          <option>فلل</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-6 col-12">
                      <div class="question">
                        <button class="effect_an" title="اطلب مسكنك الان" type="submit">
                          <div>
                            إطلب مسكنك الان
                          </div>
                        </button>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="promise">
                        * نتعهد بعدم تسليم معلوماتك الشخصية لأى جهة أو أشخاص اخرين
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- /////////////////////||||||| End housing request |||||||||||||||||| -->
          </div>
          <!-- /////////////////////||||||| Start About |||||||||||||||||| -->
          <section class="about" id="about">
            <div class="row">
              <div class="col-md-6 col-12">
                <h2 class="my_title">
                  ما هو مسكنك
                </h2>
                <div class="block1">
                  <p>
                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ .
                  </p>
                  <p>
                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
                    التركيز على الشكل الخارجي للنص .
                  </p>
                </div>
                <p class="orng">يمثل هذا البرنامج علاقة بين طرفين و هم :</p>
                <ul class="dotted_list">
                  <li>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ .
                  </li>
                  <li>
                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
                    التركيز على الشكل الخارجي للنص .
                  </li>
                  <li>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ .
                  </li>
                  <li>
                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
                    التركيز على الشكل الخارجي للنص .
                  </li>
                </ul>
              </div>
              <div class="col-md-6 col-12">
                <div class="left_column">
                  <!-- Button trigger modal -->
                  <button type="button" class="video-btn" data-toggle="modal"
                          data-src="https://www.youtube.com/embed/Jfrjeg26Cwk" data-target="#myModal">
                    <img src="img/vid_img.webp" onerror="this.src='img/logo.webp'" loading="lazy"
                         decoding="async" title="Maskank Video" alt="Video Maskank">
                    <span class="pulse"><i class="fas fa-play"></i></span>
                  </button>
                  <p>شاهد الفيديو التعريفى لمسكنك</p>
                </div>
              </div>
            </div>
          </section>
          <!-- /////////////////////||||||| End About |||||||||||||||||| -->
        </div>
      </div>
    </section>
    <!-- /////////////////////||||||||||||||||||||||||||||| End Header |||||||||||||||||||||||||||| -->

  </div>
</template>

<script>
export default {
  name: 'Hero',
}
</script>

