<template>
<div>
  <!-- /////////////////////||||||||||||||||||||||||||||| Start payment-methods |||||||||||||||||||||||||||| -->
  <section class="most_sec payment_methods" id="payment-methods">
    <div class="container">
      <h2 class="my_title">
        طرق الدفع والسداد
      </h2>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-method-one-tab" data-toggle="tab"
             href="#nav-method-one" role="tab" aria-controls="nav-method-one"
             aria-selected="true">الطريقة الأولى</a>
          <a class="nav-item nav-link" id="nav-method-two-tab" data-toggle="tab" href="#nav-method-two"
             role="tab" aria-controls="nav-method-two" aria-selected="false">الطريقة الثانية</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-method-one" role="tabpanel"
             aria-labelledby="nav-method-one-tab">
          <ul class="checked_list">
            <li>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</li>
            <li>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</li>
            <li>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</li>
          </ul>
          <div class="pay_terms">
            <div class="pay1">
              <div class="pay_name">
                أقصى مبلغ للعقار
              </div>
              <div class="pay_price">
                50.000 ريال
              </div>
            </div>
            <div class="pay1">
              <div class="pay_name">
                الدفعة المقدمة
              </div>
              <div class="pay_price">
                50% - 70% من قيمة الوحدة
              </div>
            </div>
            <div class="pay1">
              <div class="pay_name">
                مواصفات وشروط البرنامج
              </div>
              <div class="pay_price">
                أرض بتصنيف سكنى غير زراعى أو صناعى أو أخرى
              </div>
            </div>
            <div class="pay1">
              <div class="pay_name">
                الدفعة الأخيرة
              </div>
              <div class="pay_price">
                30% على مراحل المشروع
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-method-two" role="tabpanel" aria-labelledby="nav-method-two-tab">
          <ul class="checked_list">
            <li>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</li>
            <li>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</li>
            <li>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</li>
          </ul>
          <div class="pay_terms">
            <div class="pay1">
              <div class="pay_name">
                أقصى مبلغ للعقار
              </div>
              <div class="pay_price">
                50.000 ريال
              </div>
            </div>
            <div class="pay1">
              <div class="pay_name">
                الدفعة المقدمة
              </div>
              <div class="pay_price">
                50% - 70% من قيمة الوحدة
              </div>
            </div>
            <div class="pay1">
              <div class="pay_name">
                مواصفات وشروط البرنامج
              </div>
              <div class="pay_price">
                أرض بتصنيف سكنى غير زراعى أو صناعى أو أخرى
              </div>
            </div>
            <div class="pay1">
              <div class="pay_name">
                الدفعة الأخيرة
              </div>
              <div class="pay_price">
                30% على مراحل المشروع
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /////////////////////||||||||||||||||||||||||||||| End payment-methods |||||||||||||||||||||||||||| -->

</div>
</template>

<script>
export default {
  name: 'PaymentMethods',
}
</script>

