<template>
<div>
  <!-- /////////////////////||||||||||||||||||||||||||||| Start terms-of-program |||||||||||||||||||||||||||| -->
  <section class="most_sec terms-of-program" id="terms-of-program">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="terms1">
            <h3 class="my_title">
              شروط التقدم
            </h3>
            <ul class="checked_list custom_counter">
              <li>سعودى الجنسية </li>
              <li>العمر فوق 20 سنة</li>
              <li>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء </li>
              <li>العمر فوق 20 سنة</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="terms1">
            <h3 class="my_title">
              المستندات المطلوبة
            </h3>
            <ul class="checked_list custom_counter">
              <li>سعودى الجنسية </li>
              <li>العمر فوق 20 سنة</li>
              <li>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء </li>
              <li>العمر فوق 20 سنة</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /////////////////////||||||||||||||||||||||||||||| End terms-of-program |||||||||||||||||||||||||||| -->

</div>
</template>

<script>
export default {
  name: 'ProgramTerms',
}
</script>

