<template>
<div>
  <!-- /////////////////////||||||||||||||||||||||||||||| Start services |||||||||||||||||||||||||||| -->
  <section class="most_sec services" id="services">
    <div class="container">
      <h2 class="my_title">
        خدمات مسكنك
      </h2>
      <div class="row">
        <div class="col">
          <div class="service1">
            <div class="srv_img">
              <img src="img/img1.webp" onerror="this.src='img/logo.webp'" loading="lazy"
                   decoding="async" title="الصك بإسمك" alt="الصك بإسمك">
            </div>
            <h4 class="srv_name">الصك بإسمك</h4>
          </div>
        </div>
        <div class="col">
          <div class="service1">
            <div class="srv_img">
              <img src="img/img2.webp" onerror="this.src='img/logo.webp'" loading="lazy"
                   decoding="async" title="سرعة الانجاز" alt="سرعة الانجاز">
            </div>
            <h4 class="srv_name">سرعة الانجاز</h4>
          </div>
        </div>
        <div class="col">
          <div class="service1">
            <div class="srv_img">
              <img src="img/img3.webp" onerror="this.src='img/logo.webp'" loading="lazy"
                   decoding="async" title="أمن وحراسة" alt="أمن وحراسة">
            </div>
            <h4 class="srv_name">أمن وحراسة</h4>
          </div>
        </div>
        <div class="col">
          <div class="service1">
            <div class="srv_img">
              <img src="img/img4.webp" onerror="this.src='img/logo.webp'" loading="lazy"
                   decoding="async" title="النظام الذكى" alt="النظام الذكى">
            </div>
            <h4 class="srv_name">النظام الذكى</h4>
          </div>
        </div>
        <div class="col">
          <div class="service1">
            <div class="srv_img">
              <img src="img/img5.webp" onerror="this.src='img/logo.webp'" loading="lazy"
                   decoding="async" title="حماية إلكترونية" alt="حماية إلكترونية">
            </div>
            <h4 class="srv_name">حماية إلكترونية</h4>
          </div>
        </div>
        <div class="col">
          <div class="service1">
            <div class="srv_img">
              <img src="img/img6.webp" onerror="this.src='img/logo.webp'" loading="lazy"
                   decoding="async" title="حضانة أطفال" alt="حضانة أطفال">
            </div>
            <h4 class="srv_name">حضانة أطفال</h4>
          </div>
        </div>
        <div class="col">
          <div class="service1">
            <div class="srv_img">
              <img src="img/img7.webp" onerror="this.src='img/logo.webp'" loading="lazy"
                   decoding="async" title="غاز مركزى" alt="غاز مركزى">
            </div>
            <h4 class="srv_name">غاز مركزى</h4>
          </div>
        </div>
        <div class="col">
          <div class="service1">
            <div class="srv_img">
              <img src="img/img8.webp" onerror="this.src='img/logo.webp'" loading="lazy"
                   decoding="async" title="ضمان على الخدمات" alt="ضمان على الخدمات">
            </div>
            <h4 class="srv_name">ضمان على الخدمات</h4>
          </div>
        </div>
        <div class="col">
          <div class="service1">
            <div class="srv_img">
              <img src="img/img9.webp" onerror="this.src='img/logo.webp'" loading="lazy"
                   decoding="async" title="إدارة اتحاد الملاك" alt="إدارة اتحاد الملاك">
            </div>
            <h4 class="srv_name">إدارة اتحاد الملاك</h4>
          </div>
        </div>
        <div class="col">
          <div class="service1">
            <div class="srv_img">
              <img src="img/img10.webp" onerror="this.src='img/logo.webp'" loading="lazy"
                   decoding="async" title="خدمة ( تم ) للصيانة" alt="خدمة ( تم ) للصيانة">
            </div>
            <h4 class="srv_name">خدمة ( تم ) للصيانة</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /////////////////////||||||||||||||||||||||||||||| End services |||||||||||||||||||||||||||| -->

</div>
</template>

<script>
export default {
  name: 'Service',
}
</script>

