<template>
  <div class="container-xl my-container the_first" id="app">


      <Header />
      <Hero />
      <Service />
      <program-terms />
      <payment-methods />
      <Contact />
      <Footer />


  </div>
</template>

<script>
import Hero from './components/Hero.vue'
import ProgramTerms from "./components/ProgramTerms";
import PaymentMethods from "./components/PaymentMethods";
import Contact from "./components/Contact";
import Header from "./components/Partials/Heder";
import Footer from "./components/Partials/Footer";
import Service from "./components/Services";

export default {
  name: 'App',
  components: {
    Service,
    Header,
    Footer,
    Contact,
    PaymentMethods,
    ProgramTerms,
    Hero
  }
}
</script>

<!--//@import "src/assets";-->
<style lang="scss">

</style>
